option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djecommerce.settings"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djecommerce/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static_in_env/"