container_commands:
  01_migrate:
    command: "source /opt/python/run/venv/bin/activate && cat ../env && python manage.py migrate --noinput"
    leader_only: true
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && mkdir -p media_root1 && sudo chown -R wsgi media_root1"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "djecommerce.settings.production"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: djecommerce/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "static_in_env/"

