{% extends "base.html" %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-1 bg-overlay-black-70" style="height:200px;">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Aviso de Privacidad </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
   inner-intro -->


<!--=================================
privacy-policy  -->

<section class="privacy-policy page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <span></span>
                    <h2>Aviso de Privacidad </h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                I. IDENTIFICACIÓN DEL RESPONSABLE
                <br>
                En HABOLT en lo sucesivo HABOLT, con domicilio en Carretera México - Toluca No. 3030 Cuajimalpa, México,
                DF, CP. 05320; le comunicamos que los datos personales de nuestros clientes y clientes potenciales son
                tratados en atención a lo que dispone la legislación en la materia y de manera confidencial y segura.
                <br>
                II. MEDIOS DE OBTENCIÓN Y DATOS PERSONALES QUE SE RECABAN
                <br>
                NOMBRE COMERCIAL recaba los siguientes datos personales necesarios para dar cumplimiento a las
                finalidades del presente Aviso de Privacidad, dependiendo de la relación que con usted exista.
                <br>
                a. Datos personales que recabamos de manera personal: Datos personales de identificación, laborales,
                patrimoniales, financieros, datos de terceros. (Al proporcionar los datos personales de terceros, se
                entiende que cuenta con el consentimiento del titular de los datos personales).
                <br>
                b. Datos personales que recabamos de manera directa a través de página web, correo electrónico y vía
                telefónica: Datos personales de identificación.
                <br>
                c. Datos personales que recabamos de manera indirecta a través de transferencias de terceros y fuentes
                de acceso público que están permitidas por la Ley: Datos personales de identificación.
                <br>
                Se le informa que las imágenes y sonidos captados a través del sistema de video vigilancia, serán
                utilizadas para su seguridad y de las personas que nos visitan.
                <br>
                Si usted participa en eventos y reportajes, se le comunica que las imágenes y sonidos captados, podrán
                ser difundidas a través de medios de comunicación interna y las distintas redes sociales.
                <br>
                Asimismo, los sonidos relativos a su voz, recabados a través de los distintos medios utilizados, serán
                tratados como soporte del seguimiento de la calidad de nuestros servicios.
                <br>
                Datos personales sensibles
                <br>
                Aquellos que refieren a características personales, como huella digital.
                <br>
                III. FINALIDADES
                <br>
                En términos de lo establecido por La Ley Federal de Protección de Datos Personales en Posesión de los
                Particulares (La Ley) y su Reglamento, los datos personales que nos proporcione serán utilizados para
                las siguientes finalidades:
                <br>
                a. Necesarias para la prestación del servicio:
                <br>
                i.Realizar los trámites, procedimientos y gestiones para la adquisición de bienes, productos y servicios
                para nuestros clientes y clientes potenciales.
                <br>
                ii.Comercialización de vehículos automotores nuevos y seminuevos, así como toda clase de partes,
                refacciones y accesorios de vehículos automotores en sus diversas modalidades: contado, crédito y
                autofinanciamiento.
                <br>
                iii.Otorgarle toda clase de bienes, productos y servicios para el mantenimiento de su automóvil
                (refacciones, hojalatería y pintura, servicios varios relacionados con vehículos automotores).
                <br>
                iv.Realizar los diversos trámites para gestionar ante las autoridades competentes, el alta de los
                vehículos automotores en los padrones vehiculares correspondientes, así como llevar a cabo la
                verificación ambiental en su caso.
                <br>
                v.Consultar el historial crediticio ante las sociedades de información crediticia.
                <br>
                vi.Cumplimiento de las obligaciones en materia de garantías en vehículos automotores nuevos, seminuevos
                y en servicio de reparación y/o mantenimiento.
                <br>
                vii.Informar sobre las campañas de seguridad o de servicio de los vehículos automotores que promueva
                HABOLT. (llamada/recall), así como de actualizaciones técnicas.
                <br>
                viii.Tramitar y formalizar un crédito para la adquisición de un vehículo nuevo y/o seminuevo, así como
                la adquisición de seguros automotrices y extensiones de garantía conforme los contratos previamente
                establecidos por las partes.
                <br>
                ix.Cumplir con todas las actividades complementarias y/o auxiliares necesarias para la comercialización
                de vehículos automotores nuevos, seminuevos y la prestación de servicios y productos para el
                mantenimiento de vehículos.
                <br>
                x.Procesar solicitudes, realizar actividades de cobranza, facturación y aclaraciones.
                <br>
                xi.Cumplir con las leyes, reglamentos y demás disposiciones legales aplicables.
                <br>
                xii.Mantener actualizados nuestros registros para poder responder a sus consultas.
                <br>
                b. No necesarias para la prestación el servicio:
                <br>
                1) Realizar estudios internos sobre hábitos de consumo, mercadotecnia, publicidad y prospección
                comercial relacionada con los bienes, productos y servicios, así como la inscripción al programa de
                lealtad "Club de Privilegios” que ofrece HABOLT.
                <br>
                2) Dar seguimiento a nuestra relación comercial y solicitar la evaluación y el seguimiento para conocer
                el nivel de satisfacción de nuestros productos y servicios.
                <br>
                Es importante mencionar que las finalidades (i), (ii), (iii) (iv), (v), (vi), (vii), (viii), (ix), (x),
                (xi) y (xii) y dan origen y son necesarias.
                <br>
                Las finalidades (1) y (2) no son necesarias, pero son importantes para ofrecerle a través de campañas de
                mercadotecnia, publicidad y prospección comercial, bienes, productos y servicios exclusivos, por lo que
                usted tiene derecho a oponerse, o bien, a revocar su consentimiento para que HABOLT deje de tratar sus
                datos personales para dichas finalidades, de acuerdo al procedimiento señalado en el aparatado IV o V
                del presente Aviso de Privacidad.
                <br>
                Se hace de su conocimiento que cuenta con un plazo de 5 días hábiles para manifestar su negativa
                respecto al tratamiento de sus datos personales de identificación, en relación con las finalidades del
                inciso (b) de este apartado, conforme el mecanismo establecido en el apartado IV del presente Aviso de
                Privacidad.
                <br>
                IV. OPCIONES PARA LIMITAR EL USO O DIVULGACIÓN DE SUS DATOS PERSONALES
                <br>
                Si usted desea dejar de recibir mensajes de mercadotecnia, publicidad o de prospección comercial, puede
                hacerlo valer a través del correo electrónico: <i>(encargado en la agencia) dandrade@HABOLT.com.</i>
                <br>
                V. SOLICITUD DE ACCESO, RECTIFICACIÓN, CANCELACIÓN U OPOSICIÓN DE DATOS PERSONALES (DERECHOS ARCO) Y
                REVOCACIÓN DE CONSENTIMIENTO.
                <br>
                Usted tiene en todo momento el derecho de Acceder, Rectificar, Cancelar u Oponerse al tratamiento que le
                damos a sus datos personales, así como Revocar su consentimiento; derechos que podrá hacer valer
                enviando un correo electrónico a <i>(encargado en la agencia) dandrade@HABOLT.com</i>, para que le sea
                proporcionado el formato de Solicitud de Derechos ARCO, mismo que deberá presentar llenado en el
                domicilio del Responsable, debiendo adjuntar una copia de su identificación oficial para acreditar su
                titularidad. La respuesta a su solicitud de Derechos ARCO se le hará llegar al correo electrónico que
                haya proporcionado, dentro del término de 20 días hábiles contados a partir de la recepción de dicha
                solicitud. El ejercicio de los Derechos ARCO, será gratuito, en su caso, el titular debe de cubrir los
                gastos de envío, reproducción y/o certificación de documentos, sin embargo, si el titular ejerce el
                mismo derecho en un periodo no mayor de 12 meses, la respuesta a la solicitud tendrá un costo que no
                excederá de 3 unidades de cuenta vigente en la Ciudad de México.
                <br>
                En caso de no estar de acuerdo en el tratamiento de sus datos personales, puede acudir ante el INAI.
                <br>
                VI. TRANSFERENCIAS DE DATOS PERSONALES
                <br>
                Transferencias sin necesidad de consentimiento:
                <br>
                Se le informa que a fin de dar cumplimiento a las finalidades establecidas en el inciso (a), apartado
                III del presente Aviso de Privacidad, sus datos personales pueden ser transferidos y tratados dentro y
                fuera de los Estados Unidos Mexicanos por personas distintas a NOMBRE DE LA AGENCIA. En este sentido y
                con fundamento en La Ley y su Reglamento, sus datos personales podrán ser transferidos sin necesidad de
                su consentimiento a: (i) A terceros proveedores de servicios, única y exclusivamente para el
                cumplimiento de las finalidades establecidas en el inciso (a) del apartado III del presente Aviso de
                Privacidad; (ii) A terceros para realizar gestiones de cobranza extrajudicial y judicial en caso de
                incumplimiento, (iii) A terceros proveedores de servicios para la investigación y aprobación, en su
                caso, del crédito correspondiente para el cumplimiento de las finalidades establecidas en el inciso (a)
                del apartado III del presente Aviso de Privacidad; (iv) A HABOLT para el establecimiento de las
                condiciones de garantía, campañas de seguridad y servicio (llamada/recall) y actualizaciones técnicas;
                (v) A las Autoridades competentes en materia de control vehicular; (vi) A instituciones financieras,
                bancarias y crediticias, para la solicitud de otorgamiento de créditos por el servicio contratado por el
                cliente; (vii) A aseguradoras para el otorgamiento de pólizas de seguros por el servicio contratado por
                el cliente; (viii) A Protección AMECAH, S.A. de C.V. para cumplir con las obligaciones de extensión de
                garantía.
                <br>
                Transferencias con consentimiento:
                <br>
                HABOLT, podrá transferir sus datos personales de identificación a (i) Comercializadora AMECAH, S.A. de
                C.V., para administrar el programa de lealtad ¨Club de "Privilegios”; (ii) A la Asociación Mexicana de
                Concesionarios Honda, A.C. para la evaluación y seguimiento del nivel de satisfacción de nuestros
                clientes.(iii) A HABOLT, para la realización de estudios internos sobre hábitos de consumo,
                mercadotecnia, publicidad y prospección comercial relacionada con los bienes, productos y servicios; dar
                seguimiento a la relación comercial y solicitar la evaluación y el seguimiento para conocer el nivel de
                satisfacción de los productos y servicios. A la firma del presente Aviso de Privacidad nos otorga su
                consentimiento para transferir sus datos personales de identificación. Si usted no desea que sus datos
                personales sean transferidos a dichos terceros, puede manifestar su negativa conforme al procedimiento
                establecido en el apartado IV del presente Aviso de Privacidad.
                <br>
                VII. USO DE COOKIES
                <br>
                HABOLT, le informa que no utiliza "<i>cookies y web beacons</i>” para obtener información personal de
                usted de manera automática. Los datos personales que recabamos de manera electrónica, así como las
                finalidades del tratamiento se encuentran establecidos en el presente Aviso de Privacidad. ESTABLECER EN
                CASO DE QUE NO LAS USE, EN CASO CONTRARIO SE DEBERÁ ESTABLECER QUE SI LAS USAN Y EL MECANISMO PARA
                DESABILITARLAS.
                <br>
                VIII. MODIFICACIONES AL AVISO DE PRIVACIDAD
                <br>
                Este Aviso de Privacidad podrá ser modificado; dichas modificaciones podrán consultarse a través de los
                siguientes medios:
                <br>
                1. Nuestra página de internet COLOCAR PÁGINA (sección Aviso de Privacidad).
                <br>
                2. Avisos visibles en nuestras instalaciones; o,
                <br>
                3. Cualquier otro medio de comunicación oral, impreso o electrónico que se determine para tal efecto.

            </div>
        </div>
    </div>
</section>

<!--=================================
      privacy-policy  -->



{% endblock content %}