{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"> -->
  <meta name="viewport" content="width = device-width, initial-scale = 1, maximum-scale = 1, user-scalable = 0" />
  <link rel='icon' href='{% static 'images/favicon.ico' %}' type='image/x-icon' />
  <!-- Google Tag Manager -->
  <script>
    (function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-MRQM6S3');
  </script>
  <!-- End Google Tag Manager -->


  <title>{% block head_title %}{% endblock %}</title>
  {% block extra_head %}
  {% endblock %}

  <!-- bootstrap -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />

  <!-- flaticon -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/flaticon.css' %}" />

  <!-- mega menu -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/mega-menu/mega_menu.css' %}" />

  <!-- mega menu -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/font-awesome.min.css' %}" />

  <!-- jquery-ui -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui.css' %}">

  <!-- slick css -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick/slick.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/slick/slick-theme.css' %}" />

  <!-- owl-carousel -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/owl-carousel/owl.carousel.css' %}" />

  <!-- revolution -->
  <link rel="stylesheet" type="text/css" href="{% static 'revolution/css/settings.css' %}">

  <!-- magnific-popup -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/magnific-popup/magnific-popup.css' %}">

  <!-- main style -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

  <!-- responsive -->
  <link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}" />
  <link href="https://code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css" rel="Stylesheet" type="text/css" />
</head>

<body>
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MRQM6S3" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <!--=================================
  loading -->
  <!-- <div id="loading">
    <div id="loading-center">
      <img src="{% static 'images/loader6.gif' %}" alt="">
    </div>
  </div> -->
  <!--=================================
    loading -->

  {% include "navbar.html" %}



  {% block content %}
  {% endblock content %}

  {% block extra_body %}
  {% endblock %}

  {% include "footer.html" %}
  {% include "scripts.html" %}

  {% block extra_scripts %}
  {% endblock extra_scripts %}
</body>

</html>