{% extends "base.html" %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-4 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Preguntas Frecuentes </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
   inner-intro -->

<!--=================================
 faq -->

<section class="privacy-policy page-section-ptb">
    <div class="container">
        <!-- <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>Preguntas Frecuentes </h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="col-md-12">
                <div id="tabs">
                    <ul class="tabs text-center">
                        <li data-tabs="tab1" class="active"> <span aria-hidden="true" class="icon-diamond"></span>
                            PARA COMPRAR UN AUTO EN HABOLT</li>
                        <li data-tabs="tab2" style="border-bottom: 3px solid #223dff;"><span aria-hidden="true"
                                class="icon-list"></span>PARA VENDER TU AUTO EN
                            HABOLT</li>
                    </ul>
                    <div id="tab1" class="tabcontent accordion">
                        <div class="accordion-title">
                            <a href="#">1. ¿Por qué comprar un HABOLT?</a>
                        </div>
                        <div class="accordion-content">
                            <p>En HABOLT hacemos una valoración 360º a todos los autos que
                                compramos para que cuando compres un auto HABOLT esté en perfectas
                                condiciones, es por ello que te ofrecemos 12 meses de garantía en tu auto.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">2. ¿Pueden tomar a cuenta mi auto en la compra de otro?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Por supuesto que si tomamos tu auto a cuenta, además te daremos un 2%
                                de descuento en el auto que compres como agradecimiento.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">3. ¿El precio que veo en la página es el final?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Definimos nuestros precios pensando en ti, buscamos ofrecerte el mejor auto a precios de
                                mercado con garantía de 12 meses y la seguridad que nos respalda.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">4. ¿Qué garantía tienen los autos?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Gracias a nuestra valoración 360º donde inspeccionamos la parte mecánica, motríz,
                                estética y documental, te podemos ofrecer 12 meses de garantía en todos los autos que
                                comercializamos, por esta razón es que estamos seguros que tenemos los mejores autos del
                                mercado.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">5. ¿Puedo hacer una prueba de manejo?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Nuestros autos están listos para ser entregados y somos muy cuidadosos de todos los
                                detalles, es por ello que en lugar de dejarte manejar un auto unos minutos, te
                                entregamos un auto en excelentes condiciones y si por alguna razón no te satisface, te
                                ofrecemos 7 días de garantía o 150km para devolver la unidad sin costo alguno para ti.
                            </p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">6. ¿Pueden tomar a cuenta mi auto y además darme financiamiento?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Claro, tenemos ofertas de crédito muy competitivas y para diferentes perfiles de
                                clientes, acércate a nosotros y te ayudamos a conseguir el HABOLT de tus sueños con un
                                crédito, además podemos tomar tu auto actual como enganche de tu auto nuevo.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">7. ¿Puedo contratar el seguro?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Por supuesto, nosotros nos encargamos de todo, te ofrecemos diferentes opciones de seguro
                                para que tu obtengas el mejor seguro para tu auto.
                                Cuidamos tu patrimonio.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">8. ¿Dónde recojo mi auto?</a>
                        </div>
                        <div class="accordion-content">
                            <p>En caso que compres un auto nuevo queremos que vivas la experiencia Habolt! Ven por el a
                                nuestras instalaciones. Te sorprenderás.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">9. ¿Y las placas de mi nuevo auto?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Nuestro objetivo es que salgas de nuestras instalaciones listo para disfrutar tu nuevo
                                HABOLT, es por ello que nosotros contamos con el servicio de trámite vehícular.</p>
                        </div>
                    </div>
                    <div id="tab2" class="tabcontent accordion">
                        <div class="accordion-title">
                            <a href="#">1. ¿Cuál es la diferencia entre los tipos de ofertas?</a>
                        </div>
                        <div class="accordion-content">
                            <ul class="list-style-none">
                                <li>1. OFERTA INMEDIATA: Después de la valoración 360º, firmamos un acuerdo de
                                    compra-venta y te pagamos el precio pactado.</li>
                                <li>2. OFERTA A 30 DÍAS: Después de nuestra valoración 360º firmamos un acuerdo contigo,
                                    lo acondicionamos y ponemos tu auto a la venta, a los 30 días te depositamos el
                                    total a tu cuenta. </li>
                                <li>3. OFERTA A CONSIGNACIÓN. Después de nuestra valoración 360º firmamos un acuerdo
                                    contigo, nos quedamos con tu auto, lo acondicionamos y al momento en que se concrete
                                    la venta te pagamos el precio pactado.</li>
                                <li>4. PRÉSTAMO: Después de nuestra valoración 360º firmamos un contrato, te depositamos
                                    y nos quedamos con tu auto en resguardo.</li>
                            </ul>
                        </div>
                        <div class="accordion-title">
                            <a href="#">2. ¿Cómo establece HABOLT la oferta por mi auto?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Analizamos los precios y datos de diferentes fuentes en referencia al modelo, marca, año
                                y kilometraje de cada auto, tomamos en cuenta el valor en el mercado para ofrecerte el
                                precio mas justo.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">3. ¿Qué valoran en cada auto?</a>
                        </div>
                        <div class="accordion-content">
                            <p>En Habolt realizamos una valoración 360º donde incluimos la parte mecánica, estética,
                                revisamos el histórico del vehículo, también la parte legal, multas, tenencias, en fin,
                                revisamos a fondo y esto nos permite ofrecer un precio real de cada auto y garantizar a
                                los futuros dueños la tranquilidad que ellos merecen.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">4. ¿Dónde se realiza la valoración de mi auto?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Nuestro objetivo es entregar a los compradores los autos en las mejores condiciones, para
                                ello, necesitamos hacer una valoración muy rigurosa de tu auto y se realiza únicamente
                                en nuestras instalaciones, así lo podemos subir a nuestras rampas, manejar e
                                inspeccionar a consciencia, si lo hacemos de otra manera no nos permite obtener la
                                información requerida para asegurar la calidad en cada uno de los autos que le ofrecemos
                                a nuestros clientes. El proceso de valoración es muy rápido, en menos de 2 horas
                                tendremos para ti nuestra propuesta final.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">5. ¿En dónde tiene servicio HABOLT?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Por el momento únicamente compramos y vendemos autos en la CDMX y zona metropolitana,
                                esperamos en un futuro próximo hacerlo en el resto de la República Mexicana.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">6. ¿Compran todo tipo de autos?</a>
                        </div>
                        <div class="accordion-content">
                            <ul class="list-style-none">
                                <li>1. No, para poder ofrecer los mejores autos a la venta y garantía de 12 meses en
                                    TODOS nuestros modelos tenemos que ser muy rigurosos en nuestra valoración 360º.
                                </li>
                                <li>2. Regístrate, cotiza en línea, haz una cita y realizaremos la valoración 360º de tu
                                    auto. Si aprueba nuestros estándares de calidad te haremos una oferta final. </li>
                            </ul>
                        </div>
                        <div class="accordion-title">
                            <a href="#">7. ¿A dónde llevo mi auto para la valoración 360º o para venderlo?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Por tu seguridad, todo el proceso se realiza en nuestras instalaciones ya sea para
                                realizar la valoración 360º o para el proceso de compra-venta.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">8. ¿Compran mi auto aunque debe tenencias y/o verificaciones pendientes?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Si tienes adeudos por tenencias los descontaremos de la oferta final, los adeudos de
                                verificación deberás liquidarlos antes de finalizar la operación.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">9. ¿Soy persona física sin actividad empresarial como les facturo mi auto?"</a>
                        </div>
                        <div class="accordion-content">
                            <p>Estamos preocupados que tu experiencia sea inolvidable, es por ello que te apoyamos en el
                                trámite ante el SAT para poder facturar tu auto. Este es un trámite indispensable que la
                                mayoria no te informa adecuadamente y que podría ser un problema a futuro, no te
                                preocupes, nosotros estamos contigo durante todo el proceso informándote puntualmente
                                los avances y conclusión del trámite, HABOLT siempre piensa en ti.</p>
                        </div>
                        <div class="accordion-title">
                            <a href="#">10. ¿Por qué venderles a ustedes?</a>
                        </div>
                        <div class="accordion-content">
                            <p>Nosotros te ofrecemos un proceso seguro, confíable y rápido, ten en cuenta los riesgos de
                                hacer la venta a una persona desconocida. Para HABOLT tu seguridad y tu patrimonio son
                                muy importantes. Nosotros cuando compramos un auto, lo revisamos a detalle con nuestra
                                valoración 360º acondicionamos el mismo, en la parte estética, mecánica y documental
                                para poder venderlo con garantía de 12 meses y darle asi tranquilidad y confianza a
                                quienes compran un HABOLT.</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
      faq -->


{% endblock content %}