{% load static %}
<!--=================================
 footer -->

<div class="btn-whatsapp flotante">
  <a href="https://api.whatsapp.com/send?phone=5215531779640&text=Hola%20estoy%20interesado%20en%20comprar%20/%20vender%20un%20auto."
    target="_blank">
    <img src="https://s3.amazonaws.com/media.habolt.mx/btn_whatsapp.png" alt="">
  </a>
</div>

<div class="row algo" id="footer">
  <div class="col-md-12">
    <div class="social" style="margin-bottom: 0px;">
      <ul>
        <li></li>
        <li style="text-align: center; ">
          <a style="background: #223dff; border-radius: 0px;color:white;line-height: 44px" href="{% url "core:list" %}">
            Compra un auto
          </a>
        </li>
        <li style="text-align: center;">
          <a href="{% url "core:vende" %}"
            style="background: #ffbd00; border-radius: 0px;color:white;line-height: 44px;">
            vende tu auto
          </a>
        </li>
        <li></li>
      </ul>
    </div>
  </div>
</div>

<footer class="footer bg-3 bg-overlay-black-90">
  <div class="container">
    <div class="row" id="footer">
      <div class="col-md-12">
        <div class="social" id="social">
          <ul>
            <li></li>
            <li style="text-align: center; ">
              <a style="background: #223dff; border-radius: 0px;color:white;line-height: 44px"
                href="{% url "core:list" %}">
                Compra un auto
              </a>
            </li>
            <li style="text-align: center;">
              <a href="{% url "core:vende" %}"
                style="background: #ffbd00; border-radius: 0px;color:white;line-height: 44px;">
                vende tu auto
              </a>
            </li>
            <li></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="about-content">
          <br>
          <img class="img-fluid" id="logo-footer" src="{% static 'images/logo-light.png' %}" alt="">
          <p>En Habolt estamos cambiando la forma de comprar y vender autos en México, al volverlo más sencillo,
            transparente y con precios que te van a encantar.</p>
        </div>
        <div class="address">
          <ul>
            <li> <i class="fa fa-map-marker"></i><span>Carr. México-Toluca 5322, La Rosita, El Yaqui, 05340 Ciudad de
                México, CDMX</span> </li>
            <li> <i class="fa fa-phone"></i><span>(+52) 558 526 6545</span> </li>
            <li> <i class="fa fa-envelope-o"></i><span>ayuda@habolt.mx</span> </li>
          </ul>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <br>
        <h6 class="text-white"> MAPA </h6>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3764.1165770957646!2d-99.28066438509437!3d19.364104286923308!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d201db98a11421%3A0xa88cc4d5ee8d040!2sHabolt!5e0!3m2!1ses-419!2smx!4v1575429247798!5m2!1ses-419!2smx"
          width="100%" height="" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
      </div>
      <div class="col-lg-3 col-md-6">
        <br>
        <h6 class="text-white"> <a href="{% url "core:blog" %}">BLOG</a> </h6>
        <p>Te invitamos a leer los artículos más interesantes de la industria en nuestro blog que hemos creado
          especialmente para ti.</p>
      </div>
      <div class="col-lg-3 col-md-6">
        <br>
        <div class="news-letter">
          <h6 class="text-white">SUBSCRIBETE A NUESTRO BOLETIN DE NOTICIAS </h6>
          <p>Mantente informado acerca de los mejores autos a los mejores precios.</p>
          <form class="news-letter">
            <input type="email" id="mailnews" placeholder="Ingresa tu Email" class="form-control placeholder"><br>
            <span id="btnnews" class="button red" href="#">Subscribete</span>
          </form>
        </div>
      </div>

    </div>
    <hr />
    <div class="copyright">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="text-lg-left text-center">
            <p>©Copyright 2019 <a href="#" target="_blank">habolt</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="list-inline text-lg-right text-center">
            <li><a href="{% url "core:aviso" %}">Aviso de privacidad </a></li>
          </ul>
        </div>
        <br><br>
      </div>
    </div>
  </div>
</footer>

<!--=================================
 footer -->

<!--=================================
 back to top -->

<div class="car-top">
  <span><img src="{% static 'images/car.png' %}" alt=""></span>
</div>

<!--=================================
 back to top -->