<!--=================================
 footer -->

<footer class="footer-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="about-content">
          <h6 class="text-white">about us</h6>
          <p class="text-gray">We provide everything you need to build an amazing dealership website developed
            especially for car sellers dealers or auto motor retailers. type and bled it to make a type but also the
            leap into specimen book but also the leap into </p>
        </div>
        <div class="social">
          <ul>
            <li><a href="#"> <i class="fa fa-facebook"></i> </a></li>
            <li><a href="#"> <i class="fa fa-twitter"></i> </a></li>
            <li><a href="#"> <i class="fa fa-pinterest-p"></i> </a></li>
            <li><a href="#"> <i class="fa fa-dribbble"></i> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <h6 class="text-white">Useful Links</h6>
        <div class="usefull-link">
          <div class="row">
            <div class="col-md-4">
              <ul>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Change </a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Contact us</a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Pre-purchase </a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Change </a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Contact us</a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Pre-purchase </a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
              </ul>
            </div>
            <div class="col-md-4">
              <ul>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Change </a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Contact us</a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Pre-purchase </a></li>
                <li> <a href="#"> <i class="fa fa-angle-right"></i> Replacement</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="text-lg-left text-center">
            <p>©Copyright 2018 Car Dealer Developed by <a href="http://www.potenzaglobalsolutions.com/"
                target="_blank">Potenzaglobalsolutions</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="list-inline text-lg-right text-center">
            <li><a href="#">privacy policy </a> | </li>
            <li><a href="#">terms and conditions </a> |</li>
            <li><a href="#">contact us </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--=================================
 footer -->



<!--=================================
 back to top -->

<div class="car-top">
  <span><img src="static/images/car.png" alt=""></span>
</div>

<!--=================================
 back to top -->