<!--=================================
 footer -->

<footer class="footer-3">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-12">
        <div class="about-content">
          <h6 class="text-white"></h6>
          <p class="text-gray">En Habolt estamos cambiando la forma de comprar y vender autos en México, al volverlo más
            sencillo, transparente y con precios que te van a encantar.. </p>
        </div>
        <div class="social">
          <ul>
            <li><a href="https://www.facebook.com/haboltmx/"> <i class="fa fa-facebook"></i> </a></li>
          </ul>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">

      </div>
    </div>
  </div>
  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="text-lg-left text-center">
            <p>©Copyright <a href="#" target="_blank">Habolt</a></p>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <ul class="list-inline text-lg-right text-center">
            <li><a href="#">privacy policy </a> | </li>
            <li><a href="#">terms and conditions </a> |</li>
            <li><a href="#">contact us </a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>

<!--=================================
 footer -->



<!--=================================
 back to top -->

<div class="car-top">
  <span><img src="static/images/car.png" alt=""></span>
</div>

<!--=================================
 back to top -->