{% extends "base.html" %}
{% load static %}

{% block content %}

<!--=================================
 rev slider -->

<div id="rev_slider_8_1_wrapper" class="rev_slider_wrapper fullwidthbanner-container" data-alias="car-dealer-06"
  data-source="gallery"
  style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
  <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
  <div id="rev_slider_8_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
    <ul>
      <!-- SLIDE  -->
      <li data-index="rs-12" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="#"
        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
        data-description="">
        <!-- MAIN IMAGE -->
        <img src="https://s3.amazonaws.com/media.habolt.mx/banner2.jpg" alt="" data-bgposition="center center"
          data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 2 -->
        <div class="tp-caption   tp-resizeme" id="slide-12-layer-1" data-x="62" data-y="center" data-voffset="-127"
          data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"
          data-frames='[{"delay":520,"speed":1670,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
          style="z-index: 6; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">
          COMPRA UN SEMINUEVO Y OBTéN<br>
          12 MESES DE GARANTÍA </div>

        <!-- LAYER NR. 5 -->
        <div class="tp-caption button red " id="slide-12-layer-8" data-x="62" data-y="center" data-voffset="40"
          data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on"
          data-frames='[{"delay":1120,"speed":1500,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(35, 35, 35, 1.00);bg:rgba(255, 255, 255, 1.00);bs:solid;bw:0 0 0 0;"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[10,10,10,10]"
          data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]"
          style="z-index: 9; white-space: nowrap; font-size: 48px; line-height: 44px; font-weight: bold; font-family:Open Sans; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
          <a href="{% url "core:list" %}" style="color: white;">Compra un auto</a> </div>
      </li>
      <!-- SLIDE  -->
      <li data-index="rs-13" data-transition="fade" data-slotamount="default" data-hideafterloop="0"
        data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="#"
        data-rotate="0" data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3=""
        data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
        data-description="">
        <!-- MAIN IMAGE -->
        <img src="https://s3.amazonaws.com/media.habolt.mx/banner1.jpg" alt="" data-bgposition="center center"
          data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
        <!-- LAYERS -->

        <!-- LAYER NR. 7 -->
        <div class="tp-caption   tp-resizeme" id="slide-13-layer-1" data-x="62" data-y="center" data-voffset="-127"
          data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"
          data-frames='[{"delay":520,"speed":1670,"frame":"0","from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:[100%];s:inherit;e:inherit;","to":"o:1;","ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]"
          data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]"
          style="z-index: 6; white-space: nowrap; font-size: 70px; line-height: 70px; font-weight: 700; color: rgba(255, 255, 255, 1.00);font-family:Roboto;text-transform:uppercase;">
          VÉNDENOS TU AUTO Y RECIBE <br>
          LA MEJOR PROPUESTA </div>

        <!-- LAYER NR. 9 -->
        <div class="tp-caption button red " id="slide-13-layer-8" data-x="62" data-y="center" data-voffset="40"
          data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on"
          data-frames='[{"delay":1120,"speed":1360,"frame":"0","from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(35, 35, 35, 1.00);bg:rgba(255, 255, 255, 1.00);bs:solid;bw:0 0 0 0;"}]'
          data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[10,10,10,10]"
          data-paddingright="[30,30,30,30]" data-paddingbottom="[10,10,10,10]" data-paddingleft="[30,30,30,30]"
          style="z-index: 10; white-space: nowrap; font-size: 48px; line-height: 44px; font-weight: bold;  font-family:Open Sans; outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;">
          <a href="{% url "core:vende" %}" style="color: white;"> vende tu auto</a> </div>
      </li>
    </ul>
    <div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
  </div>
</div>

<!--=================================
      rev slider  -->

<!--=================================
 custom block -->

<section class="custom-block-3 white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 col-md-12">
        <div class="title">
          <h3>¡VIVE LA EXPERIENCIA! <br>
          </h3>
          <h4>UN HABOLT ES ÚNICO, POR QUE NOSOTROS SI TE DAMOS 12 MESES DE GARANTÍA INCLUIDA.</h4>
        </div>
        <div class="content">
          <p style="font-size: 16px;">Todos nuestros autos pasan por un riguroso proceso de valoración de 360°. Si no
            está en perfectas
            condiciones no es Habolt, esto nos permite ofrecer una garantía mecánica de 12
            meses.</p>


        </div>
      </div>
      <div class="col-lg-6 col-md-12">
        <img class="img-fluid" src="static/images/car/11.png" alt="">
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="glyph-icon flaticon-beetle"></i>
          </div>
          <div class="content">
            <h6>EXPERIENCIA ÚNICA </h6>
            <p>Mucho mejor que un auto nuevo; sabemos que quieres estrenar de inmediato por eso nuestros autos están
              listos y esperándote.</p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="glyph-icon flaticon-interface-1"></i>
          </div>
          <div class="content">
            <h6>APOYO EN LOS TRAMITES</h6>
            <p>En HABOLT nos encargamos de ayudarte a realizar todos los trámites legales para que puedas ofrecer tu
              auto de inmediato. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="glyph-icon flaticon-key"></i>
          </div>
          <div class="content">
            <h6>7 DÍAS DE PRUEBA</h6>
            <p>En HABOLT tienes 7 días y 150 km para probar tu auto, si no estas satisfecho con el, te devolvemos tu
              dinero. Garantizado. </p>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="feature-box-3">
          <div class="icon">
            <i class="glyph-icon flaticon-wallet"></i>
          </div>
          <div class="content">
            <h6>PRECIOS INMEJORABLES</h6>
            <p>Quitamos a los intermediarios para poder ofrecerte a ti precios justos y la mejor calidad en tu próximo
              auto.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
   custom block -->

<!--=================================
  content-box -->

<section class="content-box-main white-bg">
  <div class="container">
    <div class="row no-gutter">
      <div class="col-lg-6 col-md-12 gray-bg overlay-bg-left">
        <div class="content-box-5">
          <div class="content-info">
            <a href="{% url "core:list" %}">ESTÁS buscando un Auto?</a>
            <p>Obtén 12 meses de garantía en cualquier auto de nuestro inventario y recuerda que si no encuentras el que
              quieres,<a href="{% url "core:buscamos" %}" style="font-size: 15px; display: inline;"> lo buscamos por
                ti.</a> </p>
          </div>
          <div class="content-box-img text-center">
            <i class="glyph-icon flaticon-beetle"></i>
            <a href="{% url "core:list" %}">
              <img class="img-fluid center-block" src="https://s3.amazonaws.com/media.habolt.mx/left.png" alt="">
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6 col-md-12 overlay-bg-right dark-bg">
        <div class="content-box-5">
          <div class="content-info">
            <a href="{% url "core:vende" %}">Quieres vender tu Auto?</a>
            <p>Cuéntanos qué modelo tienes, déjanos tus datos y recibe nuestra propuesta. Agenda la cita para la
              valoración 360º y recibe tu pago de inmediato. </p>
          </div>
          <div class="content-box-img text-center">
            <i class="glyph-icon flaticon-key "></i>
            <a href="{% url "core:vende" %}">
              <img class="img-fluid center-block" src="https://s3.amazonaws.com/media.habolt.mx/right.png" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
         content-box -->

<section>
  <div class="container">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <div class="details-phone details-weight">
          <br>
          <div class="feature-box-3">
            <div class="icon">
              <i class="fa fa-headphones"></i>
            </div>
            <div class="content" style="text-align: center;">
              <h4>(+52) 558 526 6545 </h4>
              <p>Llámanos gratis! </p>
            </div>
          </div>
          <br>
        </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </div>
</section>
<!--=================================
 feature-car -->

<section class="feature-car gray-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <span>Nuestros modelos destacados</span>
          <h2>QUIEREN CONOCERTE </h2>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="owl-carousel owl-theme" data-nav-arrow="true" data-items="4" data-md-items="4" data-sm-items="2"
          data-xs-items="2" data-space="15">
          {% for item in object_list %}
          <div class="item">
            <div class="car-item text-center">
              <div class="car-image">
                <img class="img-fluid" src="{{ item.image.url }}" alt="">
                <div class="car-overlay-banner">
                  <ul>
                    <!-- <li><a href="#"><i class="fa fa-link"></i></a></li> -->
                    <li><a href="{{ item.get_absolute_url }}"><i class="fa fa-link"></i></a></li>
                  </ul>
                </div>
              </div>
              <div class="car-list">
                <ul class="list-inline">
                  <li><i class="fa fa-registered"></i> {{ item.year }}</li>
                  <li><i class="fa fa-cog"></i> {{ item.transmision }} </li>
                  <li><i class="fa fa-dashboard"></i> {{ item.km }}</li>
                </ul>
              </div>
              <div class="car-content">
                <div class="star">
                  <br>
                </div>
                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                <div class="separator"></div>
                <div class="price">
                  {% if item.discount_price %}
                  <span class="old-price">${{ item.price }}</span>
                  <span class="new-price">${{ item.discount_price }} </span>
                  {% else %}
                  <span class="new-price">${{ item.price }}</span>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
   feature-car -->

<!--=================================
  our History -->

<section class="our-history white-bg page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <h2>PORQUE TU AUTO SIEMPRE VALE</h2>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="timeline list-style-none">
          <li>
            <div class="timeline-badge">
              <h4>01</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5>Certificación:</h5>
              </div>
              <div class="timeline-body">
                <p>Somos los únicos que damos una valoración 360°, parte por parte, detalle a detalle,
                  porque no cualquier auto puede ser un Habolt. Es la manera en la que podemos darte
                  12 meses de garantía. Nadie te lo da.</p>
              </div>
            </div>
          </li>
          <li class="timeline-inverted">
            <div class="timeline-badge">
              <h4>02</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5>Periodo de prueba:</h5>
              </div>
              <div class="timeline-body">
                <p>Prueba tu auto por 7 días y 150 km si no estas satisfecho
                  te devolvemos tu dinero, así de simple.</p>
              </div>
            </div>
          </li>
          <li>
            <div class="timeline-badge">
              <h4>03</h4>
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h5>Financiamiento:</h5>
              </div>
              <div class="timeline-body">
                <p>Contamos con un mínimo de enganche del 5% el más bajo porque queremos que tengas un
                  Habolt. Tenemos un plan de crédito especial para ti, incluso si no tienes historial
                  crediticio.</p>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
    our History-->




<!--=================================
testimonial -->

<!-- <section class="testimonial-2 bg-3 bg-overlay-black-70 page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-title">
          <span class="text-white"></span>
          <h2 class="text-white">Experiencias únicas, Experiencias HABOLT</h2>
          <div class="separator"></div>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8 col-md-12">
        <div class="owl-carousel owl-theme" data-nav-dots="true" data-items="1" data-md-items="1" data-sm-items="1"
          data-xs-items="1" data-space="30">
          <div class="item">
            <div class="testimonial-block">
              <div class="testimonial-content">
                <i class="fa fa-quote-left"></i>
                <p>No te arriesgues a vender tu auto con particulares. Ve por lo seguro, vende con HABOLT.</p>
              </div>
              <div class="testimonial-info">
                <div class="testimonial-avatar">
                  <img class="img-fluid" src="{% static 'images/team/01.jpg'%}" alt="">
                </div>
                <div class="testimonial-name">
                  <h6 class="text-white">Alejandro Lopèz</h6>
                  <span> |Consumidor</span>
                </div>
              </div>
            </div>
          </div>
          <div class="item">
            <div class="testimonial-block">
              <div class="testimonial-content">
                <i class="fa fa-quote-left"></i>
                <p>¡Visítanos y saldrás manejando tu nuevo auto!</p>
              </div>
              <div class="testimonial-info">
                <div class="testimonial-avatar">
                  <img class="img-fluid" src="{% static 'images/team/02.jpg'%}" alt="">
                </div>
                <div class="testimonial-name">
                  <h6 class="text-white">Anguel Zaldivar</h6>
                  <span> |Proveedor</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section> -->

<!--=================================
   testimonial -->



{% endblock content %}