{% extends "base.html" %}
{% load static %}
{% block head_title %}Compra aquí el auto de tus sueños{% endblock %}
{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-6 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Compra aquí el auto de tus sueños</h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
   inner-intro -->


<!--=================================
product-listing  -->

<section class="product-listing page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="listing-sidebar">
                    <div class="widget">
                        <div class="widget-search">
                            <h5>Filtros</h5>
                        </div>
                        <div class="clearfix">
                            <!-- <form action="" method="GET"> -->
                            <ul class="list-group">
                                <li class="list-group-item">
                                    <a href="#">Marca</a>
                                    <ul>
                                        {% include "marca.html" %}
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Año</a>
                                    <ul>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2019"> 2019
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2018"> 2018
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2017"> 2017
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2016"> 2016
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2015"> 2015
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2014"> 2014
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2014"> 2013
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2014"> 2012
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2014"> 2011
                                                </label>
                                            </span></li>
                                        <li><span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="year" value="2014"> 2010
                                                </label>
                                            </span></li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Tipo</a>
                                    <ul>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Sedan"> Sedan
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="SUV"> SUV
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Hatch Back"> Hatch
                                                    Back
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Pick-Up"> Pick-Up
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Minivan"> Minivan
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Coupe"> Coupe
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Wagon"> Wagon
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="4x4"> 4x4
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Convertible"> Convertible
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="tipo" value="Electrico"> Electrico
                                                </label>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Estatus</a>
                                    <ul>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="label" value="P"> Disponible
                                                </label>
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    <input type="checkbox" name="label" value="S"> Apartado
                                                </label>
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Precio</a>
                                    <ul>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    Precio desde
                                                </label>
                                                <input style="color: black; text-align: center;" type="number"
                                                    id="p_ini" value="">
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    Precio hasta
                                                </label>
                                                <input style="color: black; text-align: center;" type="number"
                                                    id="p_fin" value="">
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                                <li class="list-group-item">
                                    <a href="#">Kilometraje</a>
                                    <ul>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    Kilometraje desde
                                                </label>
                                                <input style="color: black; text-align: center;" type="number"
                                                    id="k_ini" value="">
                                            </span>
                                        </li>
                                        <li>
                                            <span class="checkbox">
                                                <label>
                                                    Kilometraje hasta
                                                </label>
                                                <input style="color: black; text-align: center;" type="number"
                                                    id="k_fin" value="">
                                            </span>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            <!-- <button
                                style="background: #223dff; border-radius: 0px;color:white;line-height: 44px; width: 100%;">Filtrar</button> -->
                            <!-- </form> -->
                            <div
                                style="background: #ffbd00; border-radius: 0px;color:white;line-height: 44px; width: 100%; text-align: center">
                                <a href="{% url "core:list" %}" style="color: white;"> Limpiar filtros</a>
                            </div>
                        </div>
                    </div>
                    <div class="widget-banner">
                        <!--img class="img-fluid center-block" src="images/banner.jpg" alt=""-->
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="sorting-options-main">
                    <div class="row sorting-options">

                        <div class="col-lg-12">
                            <div class="price-search">
                                <div class="search">
                                    <i class="fa fa-search" id="buscar"></i>
                                    <input type="search" value="" class="form-control placeholder" id="search"
                                        placeholder="Buscar....">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
                <div id="parametros" style="color: black;">

                </div>
                <div class="row" id="productos">
                    hola

                </div>
                <div style="text-align: center;background: #223dff;
                border-radius: 0px;
                margin-top:10px;
                line-height: 44px;"> <a href="{% url "core:buscamos" %}" style="color: white;">Si no lo encuentras lo
                        buscamos
                        por ti</a></div>
            </div>
        </div>
    </div>
</section>

<!--=================================
   product-listing  -->

{% endblock content %}

{% block extra_scripts %}
<script>
    function inicio() {
        $('#productos').empty()
        $.ajax({
            "async": true,
            "crossDomain": true,
            url: "/api/cars",
            type: 'GET'
        }).done(function (response) {
            var obj = response
            console.log(obj)
            $.each(obj, function (key, value) {
                html = '<div class="col-lg-4">' +
                    '<div class="car-item gray-bg text-center">' +
                    '<div class="car-image">' +
                    '<img class="img-fluid" src="' + value.image + '" alt="">' +
                    '<div class="car-overlay-banner">' +
                    '<ul>' +
                    '<li><a href="' + value.get_absolute_url + '"><i class="fa fa-link"></i></a></li>' +
                    '</ul>' +
                    '</div>' +
                    '</div>' +
                    '<div class="car-list">' +
                    '<ul class="list-inline">' +
                    '<li><i class="fa fa-registered"></i> ' + value.year + '</li>' +
                    '<li><i class="fa fa-cog"></i> ' + value.transmision + ' </li>' +
                    '<li><i class="fa fa-dashboard"></i> ' + value.km + '</li>' +
                    '</ul>' +
                    '</div>' +
                    '<div class="car-content">' +
                    '<div class="star"><br></div>' +
                    '<a href="' + value.get_absolute_url + '">' + value.title + '</a>' +
                    '<div class="separator"></div>' +
                    '<div class="price">' +
                    '<span class="new-price">$' + value.price + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                $('#productos').append(html)
            });
        }).always(function () {
            //$.unblockUI();
        })
    }

    $(document).ready(function () {
        inicio()
        $('#buscar').click(function (e) {
            buscar()
        })
        $('#search').blur(function (e) {
            buscar()
        })

        $('#search').keyup(function (e) {
            if (e.keyCode == 13) {
                buscar()
            }
        })

        marca = []
        year = []
        label = []
        tipo = []

        $('input[type="checkbox"]').change(function (event) {
            prueba(this)
        })
        $('#p_ini,#p_fin,#k_ini,#k_fin').keyup(function (e) {
            if (e.keyCode == 13) {
                prueba(this)
            }
        })
        $('#p_ini,#p_fin,#k_ini,#k_fin').blur(function (e) {
            prueba(this)
        })

    })
    function prueba(thiss) {
        if (thiss.name == 'marca' && thiss.checked == true) {
            marca.push(thiss.value)
        } else if (thiss.name == 'marca' && thiss.checked !== true) {
            marca.splice(marca.indexOf(thiss.value), 1)
        }

        if (thiss.name == 'year' && thiss.checked == true) {
            year.push(thiss.value)
        } else if (thiss.name == 'year' && thiss.checked !== true) {
            year.splice(year.indexOf(thiss.value), 1)
        }

        if (thiss.name == 'tipo' && thiss.checked == true) {
            tipo.push(thiss.value)
        } else if (thiss.name == 'tipo' && thiss.checked !== true) {
            tipo.splice(tipo.indexOf(thiss.value), 1)
        }

        if (thiss.name == 'label' && thiss.checked == true) {
            label.push(thiss.value)
        } else if (thiss.name == 'label' && thiss.checked !== true) {
            label.splice(label.indexOf(thiss.value), 1)
        }

        $('#parametros').empty()
        $.each(marca, function (key, value) {
            $('#parametros').append(value + ' ')
        })
        $.each(year, function (key, value) {
            $('#parametros').append(value + ' ')
        })
        $.each(tipo, function (key, value) {
            $('#parametros').append(value + ' ')
        })
        $.each(label, function (key, value) {
            $('#parametros').append(value + ' ')
        })
        var p_ini = $('#p_ini').val()
        var p_fin = $('#p_fin').val()
        var k_ini = $('#k_ini').val()
        var k_fin = $('#k_fin').val()

        if (p_ini !== "" && p_fin !== "") {
            $('#parametros').append(' $' + p_ini + ' - $' + p_fin + ' ')
        }
        if (p_ini !== "" && p_fin == "") {
            $('#parametros').append(' $' + p_ini + ' Minimo')
        }
        if (p_ini == "" && p_fin !== "") {
            $('#parametros').append(' $' + p_fin + ' Maximo')
        }


        if (k_ini !== "" && k_fin !== "") {
            $('#parametros').append(' ' + k_ini + ' Km - ' + k_fin + ' Km ')
        }

        if (k_ini !== "" && k_fin == "") {
            $('#parametros').append(' ' + k_ini + ' Km Minimo')
        }
        if (k_ini == "" && k_fin !== "") {
            $('#parametros').append(' $' + k_fin + ' Km Maximo')
        }

        $('#productos').empty()
        url = '/api/cars?year=' + year + '&marca=' + marca + '&tipo=' + tipo + '&label=' + label + '&price_min=' + p_ini + '&price_max=' + p_fin + '&km_min=' + k_ini + '&km_max=' + k_fin
        console.log(url)
        $.ajax({
            "async": true,
            "crossDomain": true,
            url: url,
            type: 'GET'
        }).done(function (response) {
            var obj = response
            console.log(obj)
            $.each(obj, function (key, value) {
                html = '<div class="col-lg-4">' +
                    '<div class="car-item gray-bg text-center">' +
                    '<div class="car-image">' +
                    '<img class="img-fluid" src="' + value.image + '" alt="">' +
                    '<div class="car-overlay-banner">' +
                    '<ul>' +
                    '<li><a href="' + value.get_absolute_url + '"><i class="fa fa-link"></i></a></li>' +
                    '</ul>' +
                    '</div>' +
                    '</div>' +
                    '<div class="car-list">' +
                    '<ul class="list-inline">' +
                    '<li><i class="fa fa-registered"></i> ' + value.year + '</li>' +
                    '<li><i class="fa fa-cog"></i> ' + value.transmision + ' </li>' +
                    '<li><i class="fa fa-dashboard"></i> ' + value.km + '</li>' +
                    '</ul>' +
                    '</div>' +
                    '<div class="car-content">' +
                    '<div class="star"><br></div>' +
                    '<a href="' + value.get_absolute_url + '">' + value.title + '</a>' +
                    '<div class="separator"></div>' +
                    '<div class="price">' +
                    '<span class="new-price">$' + value.price + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                $('#productos').append(html)
            });
        }).always(function () {
            //$.unblockUI();
        })
    }

    function buscar() {
        var busqueda = $('#search').val()
        console.log(busqueda)
        if (busqueda == "Buscar....") {
            busqueda = ''
        }
        $('#productos').empty()
        $.ajax({
            "async": true,
            "crossDomain": true,
            url: "/api/search?search=" + busqueda,
            type: 'GET'
        }).done(function (response) {
            var obj = response
            console.log(obj)
            $.each(obj, function (key, value) {
                html = '<div class="col-lg-4">' +
                    '<div class="car-item gray-bg text-center">' +
                    '<div class="car-image">' +
                    '<img class="img-fluid" src="' + value.image + '" alt="">' +
                    '<div class="car-overlay-banner">' +
                    '<ul>' +
                    '<li><a href="' + value.get_absolute_url + '"><i class="fa fa-link"></i></a></li>' +
                    '</ul>' +
                    '</div>' +
                    '</div>' +
                    '<div class="car-list">' +
                    '<ul class="list-inline">' +
                    '<li><i class="fa fa-registered"></i> ' + value.year + '</li>' +
                    '<li><i class="fa fa-cog"></i> ' + value.transmision + ' </li>' +
                    '<li><i class="fa fa-dashboard"></i> ' + value.km + '</li>' +
                    '</ul>' +
                    '</div>' +
                    '<div class="car-content">' +
                    '<div class="star"><br></div>' +
                    '<a href="' + value.get_absolute_url + '">' + value.title + '</a>' +
                    '<div class="separator"></div>' +
                    '<div class="price">' +
                    '<span class="new-price">$' + value.price + '</span>' +
                    '</div>' +
                    '</div>' +
                    '</div>' +
                    '</div>'
                $('#productos').append(html)
            })
        }).always(function () {
            //$.unblockUI();
        })
    }

</script>

{% endblock extra_scripts %}