{% extends "base.html" %}
{% load static %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-6 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Compra aquí el auto de tus sueños</h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
   inner-intro -->


<!--=================================
product-listing  -->

<section class="product-listing page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="listing-sidebar">
                    <div class="widget">
                        <div class="widget-search">
                            <h5>Filtros</h5>
                        </div>
                        <div class="clearfix">
                            <form action="" method="GET">
                                <ul class="list-group">
                                    <li class="list-group-item">
                                        <a href="#">Año</a>
                                        <ul>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value=""> Todos
                                                    </label>
                                                </span></li>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value="2019"> 2019
                                                    </label>
                                                </span></li>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value="2018"> 2018
                                                    </label>
                                                </span></li>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value="2017"> 2017
                                                    </label>
                                                </span></li>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value="2016"> 2016
                                                    </label>
                                                </span></li>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value="2015"> 2015
                                                    </label>
                                                </span></li>
                                            <li><span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="year" value="2014"> 2014
                                                    </label>
                                                </span></li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">Tipo</a>
                                        <ul>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="tipo" value=""> Todos
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="tipo" value="Sedan"> Sedan
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="tipo" value="SUV"> SUV
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="tipo" value="Hatch Back"> Hatch
                                                        Back
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="tipo" value="Pick-Up"> Pick-Up
                                                    </label>
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="list-group-item">
                                        <a href="#">Estatus</a>
                                        <ul>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="label" value=""> Todos
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="label" value="P"> Disponible
                                                    </label>
                                                </span>
                                            </li>
                                            <li>
                                                <span class="checkbox">
                                                    <label>
                                                        <input type="checkbox" name="label" value="S"> Apartado
                                                    </label>
                                                </span>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                                <button type="submit"
                                    style="background: #223dff; border-radius: 0px;color:white;line-height: 44px; width: 100%;">Filtrar</button>
                            </form>
                            <a href="{% url "core:list" %}"> Limpiar filtros</a>
                        </div>
                    </div>
                    <div class="widget-banner">
                        <!--img class="img-fluid center-block" src="images/banner.jpg" alt=""-->
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="sorting-options-main">
                    <div class="row sorting-options">

                        <div class="col-lg-12">
                            <div class="price-search">
                                <div class="search">
                                    <i class="fa fa-search"></i>
                                    <input type="search" class="form-control placeholder" placeholder="Buscar....">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    {% for item in filter.qs %}
                    <div class="col-lg-4">
                        <div class="car-item gray-bg text-center">
                            <div class="car-image">
                                <img class="img-fluid" src="{{ item.image.url }}" alt="">
                                <div class="car-overlay-banner">
                                    <ul>
                                        <!--li><a href="#"><i class="fa fa-link"></i></a></li-->
                                        <li><a href="{{ item.get_absolute_url }}"><i class="fa fa-link"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="car-list">
                                <ul class="list-inline">
                                    <li><i class="fa fa-registered"></i> {{ item.year }}</li>
                                    <li><i class="fa fa-cog"></i> {{ item.transmision }} </li>
                                    <li><i class="fa fa-dashboard"></i> {{ item.km }}</li>
                                </ul>
                            </div>
                            <div class="car-content">
                                <div class="star">
                                    <i class="fa fa-star orange-color"></i>
                                    <i class="fa fa-star orange-color"></i>
                                    <i class="fa fa-star orange-color"></i>
                                    <i class="fa fa-star orange-color"></i>
                                    <i class="fa fa-star orange-color"></i>
                                </div>
                                <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                                <div class="separator"></div>
                                <div class="price">
                                    {% if item.discount_price %}
                                    <span class="old-price">${{ item.price }}</span>
                                    <span class="new-price">${{ item.discount_price }} </span>
                                    {% else %}
                                    <span class="new-price">${{ item.price }}</span>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <!-- <div class="pagination-nav d-flex justify-content-center">
                    <ul class="pagination">
                        <li><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li><a href="#">5</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div> -->
            </div>
        </div>
    </div>
</section>

<!--=================================
   product-listing  -->

{% endblock content %}