<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Acura"> Acura</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Audi"> Audi</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="BAIC"> BAIC</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="BMW"> BMW</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Buick"> Buick</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Cadillac"> Cadillac</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Chevrolet"> Chevrolet</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Chrysler"> Chrysler</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Dodge"> Dodge</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Fiat"> Fiat</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Ford"> Ford</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="GMC"> GMC</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Honda"> Honda</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Hyundai"> Hyundai</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Infiniti"> Infiniti</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="JAC"> JAC</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="JAC Comerciales"> JAC
            Comerciales</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Jeep"> Jeep</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Kia"> Kia</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Land Rover"> Land Rover</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Lincoln"> Lincoln</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Mazda"> Mazda</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Mini"> Mini</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Mitsubishi"> Mitsubishi</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Nissan "> Nissan </label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Nissan Comerciales"> Nissan
            Comerciales</label></span>
</li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Peugeot"> Peugeot</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Peugeot Comerciales"> Peugeot
            Comerciales</label></span>
</li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Porsche"> Porsche</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Ram Dodge Comerciales"> Ram Dodge
            Comerciales</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Renault"> Renault</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Seat"> Seat</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Suzuki"> Suzuki</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Toyota"> Toyota</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Volkswagen"> Volkswagen</label></span></li>
<li><span class="checkbox"><label><input type="checkbox" name="marca" value="Volvo"> Volvo</label></span></li>