{% load static %}
{% load cart_template_tags %}
<!--=================================
 header -->

<header id="header" class="defualt">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12">
          <div class="topbar-left text-lg-left text-center">
            <ul class="list-inline">
              <li> <i class="fa fa-envelope-o"> </i> ayuda@habolt.mx</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-6 col-md-12">
          <div class="topbar-right text-lg-right text-center">
            <ul class="list-inline">
              <li> <a
                  href="https://www.google.com/maps/place/Habolt/@19.3520659,-99.305002,15.88z/data=!4m8!1m2!2m1!1shabolt!3m4!1s0x0:0x887fa13390e8396d!8m2!3d19.3496702!4d-99.303773">
                  <i class="fa fa-map-marker"></i> </a></li>
              <li> <a
                  href="https://web.whatsapp.com/send?phone=5215531779640&text=Hola%20estoy%20interesado%20en%20comprar%20/%20vender%20un%20auto.">
                  <i class="fa fa-whatsapp"></i> </a></li>
              <li> <i class="fa fa-phone"></i> (+52) 558 526 6545</li>
              <li><a href="https://www.facebook.com/haboltmx/"><i class="fa fa-facebook"></i></a></li>
              <li><a href="https://www.instagram.com/mxhabolt/?hl=es-la"><i class="fa fa-instagram"></i></a></li>
              <li><a href="https://www.youtube.com/channel/UCwKoxeACEVEFooI9NaW0jHQ?view_as=subscriber"><i
                    class="fa fa-youtube-play"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--=================================
     mega menu -->

  <div class="menu">
    <!-- menu start -->
    <nav id="menu" class="mega-menu">
      <!-- menu list items container -->
      <section class="menu-list-items">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <!-- menu logo -->
              <ul class="menu-logo">
                <li>
                  <a href="{% url "core:home" %}"><img id="logo_img" src="{% static 'images/logo-light.png' %}"
                      alt="logo">
                  </a>
                </li>
              </ul>
              <!-- menu links -->
              <ul class="menu-links">
                <!-- active class -->
                <!-- <li class="active"><a href="{% url "core:home" %}"> Inicio</a></li> -->
                <li class="active"><a href="{% url "core:nosotros" %}"> Nosotros</a></li>
                <li class="active"><a href="{% url "core:faq" %}"> Preguntas frecuentes</a></li>
                <li class="active">
                  <a style="background: #223dff; border-radius: 0px;color:white;line-height: 44px;"
                    href="{% url "core:list" %}">
                    Compra un auto
                  </a>
                </li>
                <li class="active">
                  <a href="{% url "core:vende" %}"
                    style="background: #ffbd00; border-radius: 0px;color:white;line-height: 44px;">
                    vende tu auto
                  </a>
                </li>
                <li> <a href=""></a> </li>
              </ul>
            </div>
          </div>
        </div>
      </section>
    </nav>
    <!-- menu end -->
  </div>
</header>

<!--=================================
header -->