{% extends "base.html" %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-1 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Nosotros </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
   inner-intro -->


<!--=================================
 welcome -- >

<section class="welcome-4 page-section-ptb white-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title">
                    <span>bienvenidos a </span>
                    <h2>habolt</h2>
                    <div class="separator"></div>
                    <p>Car Dealer is the best premium HTML5 Template. We provide everything you need to build an
                        <strong>Amazing dealership website</strong> developed especially for car sellers, dealers or
                        auto motor retailers. You can use this template for creating website based on any framework
                        language.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="owl-carousel owl-theme" data-nav-arrow="true" data-items="1" data-md-items="1"
                    data-sm-items="1" data-xs-items="1" data-space="0">
                    <div class="item">
                        <img class="img-fluid" src="images/car/15.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="images/car/16.jpg" alt="">
                    </div>
                    <div class="item">
                        <img class="img-fluid" src="images/car/17.jpg" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <p>Dealer obcaecati adipisci vero lorem ipsum dolor sit amet, consectetur adipisicing elit. dolorum
                    pariatur aut consectetur. Sit quisquam rerum corporis neque atque inventore nulla, quibusdam, ipsa
                    suscipit aperiam reiciendis, ea odio?</p>
                <br />
                <p>Adipisicing ipsum dolor sit amet, consectetur elit. Obcaecati adipisci vero dolorum pariatur aut
                    consectetur. Sit quisquam rerum corporis neque atque inventore nulla, quibusdam, ipsa suscipit
                    aperiam reiciendis, ea odio?</p>
                <p>Obcaecati adipisci vero dolorum pariatur aut consectetur. lorem ipsum dolor sit amet, consectetur
                    adipisicing elit. Sit quisquam rerum corporis neque atque inventore nulla, quibusdam, ipsa suscipit
                    aperiam reiciendis, ea odio?</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="feature-box-3">
                    <div class="icon">
                        <i class="glyph-icon flaticon-beetle"></i>
                    </div>
                    <div class="content">
                        <h6>All brands </h6>
                        <p>Obcaecati adipisci vero dolorum pariatur </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-box-3">
                    <div class="icon">
                        <i class="glyph-icon flaticon-interface-1"></i>
                    </div>
                    <div class="content">
                        <h6>Free Support</h6>
                        <p>lorem ipsum dolor sit amet, consectetur</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-box-3">
                    <div class="icon">
                        <i class="glyph-icon flaticon-key"></i>
                    </div>
                    <div class="content">
                        <h6>Dealership </h6>
                        <p>Sit quisquam rerum corporis neque</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="feature-box-3">
                    <div class="icon">
                        <i class="glyph-icon flaticon-wallet"></i>
                    </div>
                    <div class="content">
                        <h6>affordable</h6>
                        <p>Suscipit aperiam reiciendis, ea odio?</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

< !--=================================
   welcome -->

<hr class="gray" />

<!--=================================
  our History -->

<section class="our-history white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>NUESTRA HISTORIA</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline list-style-none">
                    <li>
                        <div class="timeline-badge">
                            <h4>01</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>inicios</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Creado por un grupo de empresarios mexicanos con amplia experiencia en el negocio
                                    automotriz, con la intención y misión de reinventar la industria de la oferta
                                    automotriz mexicana.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">
                            <h4>02</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>objetivo</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Habolt es una plataforma dedicada a la compra-venta de autos seminuevos en México con
                                    precios muy competitivos. En Habolt estamos cambiando la forma de comprar y vender
                                    autos en México, al volverlo más sencillo, transparente y con precios que te van a
                                    encantar.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">
                            <h4>03</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>metodo</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Para lograrlo, realizamos una valoración 360º única en el país, con la cuál revisamos
                                    los autos desde todos los aspectos: Mecánico, estético, legal y muchas cosas más,
                                    con la finalidad de tener autos en perfectas condiciones y ofrecer una garantía de
                                    12 meses.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-badge">
                            <h4>04</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>plus</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Además pensamos en todo, nuestros clientes pueden estrenar un Habolt con un crédito y
                                    enganche súper competitivo, los mejores seguros y servicio de gestora. De esta forma
                                    tú sales con el auto de tus sueños y nosotros hacemos el resto y por si fuera poco,
                                    te damos 7 días o 150km de prueba, si no te gusta, lo cambias o te devolvemos tu
                                    dinero, así de simple.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
  our History-->

{% endblock content %}