{% extends "base.html" %}
{% load static %}
{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-5 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Nosotros </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
   inner-intro -->

<hr class="gray" />

<!--=================================
  our History -->

<section class="our-history white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>NUESTRA HISTORIA</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline list-style-none">
                    <li>
                        <div class="timeline-badge">
                            <h4>01</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>inicio</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Creado por un grupo de empresarios mexicanos con amplia experiencia en el negocio
                                    automotriz, con la intención y misión de reinventar la industria de la oferta
                                    automotriz mexicana.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">
                            <h4>02</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>objetivo</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Habolt es una plataforma dedicada a la compra-venta de autos seminuevos en México con
                                    precios muy competitivos. En Habolt estamos cambiando la forma de comprar y vender
                                    autos en México, al volverlo más sencillo, transparente y con precios que te van a
                                    encantar.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">
                            <h4>03</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>metodo</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Para lograrlo, realizamos una valoración 360º única en el país, con la cuál revisamos
                                    los autos desde todos los aspectos: Mecánico, estético, legal y muchas cosas más,
                                    con la finalidad de tener autos en perfectas condiciones y ofrecer una garantía de
                                    12 meses.</p>
                            </div>
                        </div>
                    </li>

                    <li class="timeline-inverted">
                        <div class="timeline-badge">
                            <h4>04</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>plus</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Además pensamos en todo, nuestros clientes pueden estrenar un Habolt con un crédito y
                                    enganche súper competitivo, los mejores seguros y servicio de gestora. De esta forma
                                    tú sales con el auto de tus sueños y nosotros hacemos el resto y por si fuera poco,
                                    te damos 7 días o 150km de prueba, si no te gusta, lo cambias o te devolvemos tu
                                    dinero, así de simple.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>



<section class="our-history white-bg page-section-ptb">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-title">
                    <h2>PORQUE TU AUTO SIEMPRE VALE</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <ul class="timeline list-style-none">
                    <li>
                        <div class="timeline-badge">
                            <h4>01</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>Certificación:</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Somos los únicos que damos una valoración 360°, parte por parte, detalle a detalle,
                                    porque no cualquier auto puede ser un Habolt. Es la manera en la que podemos darte
                                    12 meses de garantía. Nadie te lo da.</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-badge">
                            <h4>02</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>Periodo de prueba:</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Prueba tu auto por 7 días y 150 km si no estas satisfecho
                                    te devolvemos tu dinero, así de simple.</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-badge">
                            <h4>03</h4>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h5>Financiamiento:</h5>
                            </div>
                            <div class="timeline-body">
                                <p>Contamos con un mínimo de enganche del 5% el más bajo porque queremos que tengas un
                                    Habolt. Tenemos un plan de crédito especial para ti, incluso si no tienes historial
                                    crediticio.</p>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!--=================================
  our History-->

{% endblock content %}