{% extends "base.html" %}
{% load static %}
{% block head_title %}Compra aquí {{ object.title }}{% endblock %}
{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-6 bg-overlay-black-70" style="height:200px;">
  <div class="container">
    <div class="row text-center intro-title">
      <div class="col-md-6 text-md-left d-inline-block">
        <!-- <h1 class="text-white">{{ object.title }} </h1> -->
      </div>
      <div class="col-md-6 text-md-right float-right">
        <ul class="page-breadcrumb">
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
   inner-intro -->

<!--=================================
car-details -->

<section class="car-details page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>{{ object.title }} </h3>
        <p>{{ object.version }}</p>
      </div>
      <div class="col-md-3">
        <div class="car-price text-md-right">
          <strong id="press">$ {{ object.price }}</strong>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">



        <div class="row">
          <div class="col-md-8">
            <div class="slider-slick">
              <div class="slider slider-for detail-big-car-gallery">
                {% for img in object.images.all %}
                <img class="img-fluid" src="{{img.image.url}}" alt="">
                {% endfor %}
              </div>
              <div class="slider slider-nav">
                {% for img in object.images.all %}
                <img class="img-fluid" style="width: 160px;" src="{{img.image.url}}" alt="">
                {% endfor %}
              </div>
            </div>

          </div>
          <div class="col-md-4">
            <div class="car-details-sidebar">
              <div class="details-block details-weight">
                <h5>DESCRIPCION</h5>
                <ul>
                  <li> <span>Marca</span> <strong class="text-right">{{ object.marca }}</strong></li>
                  <li> <span>Modelo</span> <strong class="text-right">{{ object.modelo }}</strong></li>
                  <li> <span>Año </span> <strong class="text-right">{{ object.year }}</strong></li>
                  <li> <span>Km</span> <strong class="text-right">{{ object.km }}</strong></li>
                  <li> <span>Tipo</span> <strong class="text-right">{{ object.tipo }}</strong></li>
                  <li> <span>Color</span> <strong class="text-right">{{ object.color }}</strong></li>
                  <li> <span>Cilindraje</span> <strong class="text-right">{{ object.cilindro }}</strong></li>
                  <li> <span>Transmision</span> <strong class="text-right">{{ object.transmision }}</strong></li>
                  <li> <span>Puertas</span> <strong class="text-right">{{ object.puertas }}</strong></li>
                  <li> <span>Pasajeros</span> <strong class="text-right">{{ object.pasajeros }}</strong></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-8 col-md-8  col-sm-8">
            <div id="tabs">
              <ul class="tabs">
                <li data-tabs="tab1" class="active"> <span aria-hidden="true" class="icon-diamond"></span> ¿Por qué nos
                  encantó? </li>
                <!--li data-tabs="tab2"><span aria-hidden="true" class="icon-list"></span>Features & Options</li>
                <li data-tabs="tab3"> <span aria-hidden="true" class="icon-equalizer"></span> Vehicle Overview</li-->
              </ul>
              <div id="tab1" class="tabcontent">
                <p> {{ object.description }} </p>
                <p>Vive la experiencia, un HABOLT es único.</p>
                <p> <a href="{% url "core:vende" %}"
                    style="background: #223dff; border-radius: 0px;color:white;line-height: 44px;padding: 8px 20px;">DEJA
                    TU AUTO A CUENTA
                    Y LLEVATE
                    UN HABOLT</a></p>
                <p> <strong style="color: black;">EXTIENDE TU GARANTÍA</strong> </p>
                <P> Todos nuestros autos cuentan con 12 meses de garantía incluída y también tienes la posibilidad de
                  extenderla por 12 meses más, pregunta por este servicio a tu asesor de experiencia HABOLT </P>
              </div>
            </div>

            <div class="details-nav">
              <ul>
                <li>
                  <a data-toggle="modal" data-target="#exampleModal3"
                    style="background: #223dff; border-radius: 0px;color:white;" data-whatever="@mdo" href="#"
                    class="css_btn"><i class="fa fa-tag"></i>APARTA TU HABOLT</a>
                  <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">APARTA TU HABOLT</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div id="mao_message"></div>
                        <div class="modal-body">
                          <div class="form-group">
                            <!-- <a class="button red" id="make_an_offer_submit">Pay pal</a>
                            <i class="fa fa-refresh fa-spin fa-3x fa-fw load_spiner" style="display: none;"></i> -->
                            <a href="https://api.whatsapp.com/send?phone=5215531779640&text=Hola%20estoy%20interesado%20en%20comprar%20/%20vender%20un%20auto."
                              target="_blank" class="button red" id="make_an_offer_submit">Whats app</a>
                            <i class="fa fa-refresh fa-spin fa-3x fa-fw load_spiner" style="display: none;"></i>

                            <a class="button red" id="make_an_offer_submit" href="tel:558 526 6545">(+52) 558 526
                              6545</a>
                            <i class="fa fa-refresh fa-spin fa-3x fa-fw load_spiner" style="display: none;"></i>
                            <!-- <a class="button red" id="make_an_offer_submit">Liga de pago</a>
                            <i class="fa fa-refresh fa-spin fa-3x fa-fw load_spiner" style="display: none;"></i> -->
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
                <li>
                  <a data-toggle="modal" style="background: #ffbd00; border-radius: 0px;color:white;"
                    data-target="#exampleModal2" data-whatever="@mdo" href="#" class="css_btn"><i
                      class="fa fa-dashboard"></i>AGENDA UNA CITA</a>
                  <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog"
                    aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h4 class="modal-title" id="exampleModalLabel">Agenda una cita</h4>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                        </div>
                        <div id="std_message"></div>
                        <div class="modal-body">
                          <!-- <p class="sub-title">Complete this form to request a test drive of your favorite car. Our Sales
                              Advisor will contact you promptly to confirm your appointment. </p> -->
                          <form class="gray-form reset_css" id="std_form" action="post">
                            <input type="hidden" name="action" value="schedule_test_drive" />
                            <div class="form-group">
                              <label>Nombre *</label>
                              <input type="text" class="form-control" id="name" name="std_firstname" required />
                            </div>
                            <div class="form-group">
                              <label>Email *</label>
                              <input type="text" class="form-control" id="mail" name="std_email" required>
                            </div>
                            <div class="form-group">
                              <label>Telefono *</label>
                              <input type="text" class="form-control" id="tel" name="std_phone" required>
                            </div>
                            <div class="form-group">
                              <label>Auto *</label>
                              <input type="text" class="form-control" id="car" name="std_day" value="{{ object.title }}"
                                readonly>
                            </div>
                            <div class="form-group">
                              <label>Fecha *</label>
                              <input type="text" class="form-control" id="txtworkingdays" name="std_date">
                            </div>
                            <div class="form-group">
                              <label>Hora *</label>
                              <select class="form-control" name="std_time" id="time">

                              </select>
                            </div>
                            <div class="form-group">
                              <div id="recaptcha2"></div>
                            </div>
                            <div class="form-group">
                              <a class="button red" id="agendar">Agendar</a>
                              <i class="fa fa-refresh fa-spin fa-3x fa-fw load_spiner" style="display: none;"></i>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
            </div>

          </div>
          <div class="col-md-4">
            <div class="details-phone details-weight">
              <div class="feature-box-3">
                <div class="icon">
                  <i class="fa fa-headphones"></i>
                </div>
                <div class="content" style="text-align: center;">
                  <h4>(+52) 558 526 6545 </h4>
                  <p>Llámanos gratis! </p>
                </div>
              </div>
            </div>
            <div class="details-form contact-2">
              <form class="gray-form">
                <br><br>
                <h5>calcula tú financiamiento</h5>
                <div class="form-group">
                  <label>Ingresa el monto que estas dispuesto a pagar de enganche, EL MÍNIMO ES EL 25% DEL VALOR DEL
                    AUTO.:</label>
                  <input id="enganche" type="number" class="form-control" value="">
                  <input type="hidden" value="{{ object.price }}" id="precio">
                </div>
                <div class="form-group">
                  <span id="calcular" class="button red" href="#" style="cursor: pointer;">Calcular</span>
                  <br>
                  <label>Tu crédito será por: $ <strong id="credito"></strong></label>
                </div>
                <div class="form-group">

                  <label>Selecciona las opciones que te interesen y agenda una cita.</label>
                  <div class="remember-checkbox" id="s_prestamo">
                    <input type="checkbox" id="docev" />
                    <label for="docev"><strong>12 (Meses)* $</strong><strong id="doce"></strong></label>
                  </div>
                  <div class="remember-checkbox" id="s_prestamo">
                    <input type="checkbox" id="veintev" />
                    <label for="veintev"><strong>24 (Meses)* $</strong><strong id="veinte"></strong></label>
                  </div>
                  <div class="remember-checkbox" id="s_prestamo">
                    <input type="checkbox" id="treintav" />
                    <label for="treintav"><strong>36 (Meses)* $</strong><strong id="treinta"></strong></label>
                  </div>
                  <div class="remember-checkbox" id="s_prestamo">
                    <input type="checkbox" id="cuarentav" />
                    <label for="cuarentav"><strong>48 (Meses)* $</strong><strong id="cuarenta"></strong></label>
                  </div>
                </div>

                <div>
                  <label for="">**Este es un pre-cálculo de tus mensualidades, para conocer el cálculo final deberás
                    llenar una solicitud de financiamiento con tu asesor de experiencia HABOLT.</label>
                </div>
                <div class="form-group"
                  style="text-align: center; background: #ffbd00; border-radius: 0px;color:white;line-height: 40px;">

                  <a data-toggle="modal" style="background: #ffbd00; border-radius: 0px;color:white;"
                    data-target="#exampleModal2" data-whatever="@mdo" href="#" class="css_btn"><i
                      class="fa fa-dashboard"></i>AGENDA UNA CITA</a>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="feature-car">
          <h6>Autos relacionados</h6>
          <div class="row">
            <div class="col-md-12">
              <div class="owl-carousel" data-nav-arrow="true" data-nav-dots="true" data-items="3" data-md-items="3"
                data-sm-items="2" data-space="15">
                {% for item in relacionados %}
                <div class="item">
                  <div class="car-item gray-bg text-center">
                    <div class="car-image">
                      <img class="img-fluid" src="{{ item.image.url }}" alt="">
                      <div class="car-overlay-banner">
                        <ul>
                          <li><a href="{{ item.get_absolute_url }}"><i class="fa fa-link"></i></a></li>
                        </ul>
                      </div>
                    </div>
                    <div class="car-list">
                      <ul class="list-inline">
                        <li><i class="fa fa-registered"></i> {{ item.year }}</li>
                        <li><i class="fa fa-cog"></i> {{ item.transmision }} </li>
                        <li><i class="fa fa-dashboard"></i> {{ item.km }}</li>
                      </ul>
                    </div>
                    <div class="car-content">
                      <div class="star">
                        <br>
                      </div>
                      <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                      <div class="separator"></div>
                      <div class="price">
                        {% if item.discount_price %}
                        <span class="old-price">${{ item.price }}</span>
                        <span class="new-price">${{ item.discount_price }} </span>
                        {% else %}
                        <span class="new-price">${{ item.price }}</span>
                        {% endif %}
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
      </div>
</section>

<!--=================================
  car-details  -->



{% endblock content %}

{% block extra_scripts %}
<script language="javascript">

  var val = parseInt({{ object.price }});
  val = numberWithCommas(val);
  $('#press').text('$' + val);

  function bloqueo() {
    $.blockUI({
      message: 'Procesando ...', css: {
        border: 'none',
        padding: '15px',
        backgroundColor: '#000',
        '-webkit-border-radius': '10px',
        '-moz-border-radius': '10px',
        opacity: .5,
        color: '#fff'
      }
    });
  }
  function validateEmail(email) {
    var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
    return reg.test(String(email).toLowerCase());
  }
  function numberWithCommas(number) {
    var parts = number.toString().split(".");
    parts[0] = parts[0].replace(/\B(?=(\d{3})+(?!\d))/g, ",");
    return parts.join(".");
  }

  function calculadora() {
    precio = $("#precio").val()
    precio = parseInt(precio.replace(',', ''))

    enganche = $("#enganche").val()
    tmpeng = precio * 0.25
    $("#enganche").attr({ "min": tmpeng.toString() })

    if (enganche == "") {
      enganche = tmpeng
    }
    enganche = parseInt(enganche)

    if (enganche < tmpeng) {
      alert("el enganche debe ser minimo del 25% del valor del automovil")
      $("#enganche").focus()
      return false;
    }

    precio = precio - enganche
    precio_final = precio * 1.1599
    doce = precio_final / 12
    veinte = precio_final / 24
    treinta = precio_final / 36
    cuarenta = precio_final / 48

    try {
      eng = enganche.toFixed(0)
    } catch (err) {
      console.error(err)
      eng = enganche
    }

    $("#credito").text(numberWithCommas(precio))
    $("#enganche").val(eng)
    $("#doce").text(numberWithCommas(doce.toFixed(2)))
    $("#veinte").text(numberWithCommas(veinte.toFixed(2)))
    $("#treinta").text(numberWithCommas(treinta.toFixed(2)))
    $("#cuarenta").text(numberWithCommas(cuarenta.toFixed(2)))

    $("#docev").val(numberWithCommas(doce.toFixed(2)))
    $("#veintev").val(numberWithCommas(veinte.toFixed(2)))
    $("#treintav").val(numberWithCommas(treinta.toFixed(2)))
    $("#cuarentav").val(numberWithCommas(cuarenta.toFixed(2)))

    return false
  }

  function calcu_ini() {
    precio = $("#precio").val()
    precio = parseInt(precio.replace(',', ''))

    enganche = $("#enganche").val()
    tmpeng = precio * 0.25
    $("#enganche").attr({ "min": tmpeng.toString() })

    if (enganche == "") {
      enganche = tmpeng
    }
    enganche = parseInt(enganche)

    if (enganche < tmpeng) {
      //alert("el enganche debe ser minimo del 25% del valor del automovil")
      //$("#enganche").focus()
      //return false;
    }

    precio = precio - enganche
    precio_final = precio * 1.1599
    doce = precio_final / 12
    veinte = precio_final / 24
    treinta = precio_final / 36
    cuarenta = precio_final / 48

    try {
      eng = enganche.toFixed(0)
    } catch (err) {
      console.error(err)
      eng = enganche
    }
    console.log(eng)
    $("#credito").text(numberWithCommas(precio))
    $("#enganche").val(eng)
    $("#doce").text(numberWithCommas(doce.toFixed(2)))
    $("#veinte").text(numberWithCommas(veinte.toFixed(2)))
    $("#treinta").text(numberWithCommas(treinta.toFixed(2)))
    $("#cuarenta").text(numberWithCommas(cuarenta.toFixed(2)))

    $("#docev").val(numberWithCommas(doce.toFixed(2)))
    $("#veintev").val(numberWithCommas(veinte.toFixed(2)))
    $("#treintav").val(numberWithCommas(treinta.toFixed(2)))
    $("#cuarentav").val(numberWithCommas(cuarenta.toFixed(2)))

    return false
  }

  $(document).ready(function () {
    calcu_ini()
    $("#calcular").click(function (e) {
      calculadora()
      return true
    })

    $("#enganche").blur(function (e) {
      calculadora()
      return true
    });

    var dateToday = new Date();
    $("#txtworkingdays").datepicker({
      minDate: dateToday,
      onSelect: function (selectedDate) {
        var option = this.id == "txtworkingdays",
          instance = $(this).data("datepicker"),
          date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
        $('#time').empty()
        var fecha = new Date(selectedDate)
        if (fecha.getDay() == 6) {
          algo = '<option value="">Seleccione</option>' +
            '<option value="9:00 a 11:00">9:00 a 11:00</option>' +
            '<option value="11:00 a 13:00">11:00 a 13:00</option>'
          $('#time').append(algo)
        } else {
          algo = '<option value="">Seleccione</option>' +
            '<option value="9:00 a 11:00">9:00 a 11:00</option>' +
            '<option value="11:00 a 13:00">11:00 a 13:00</option>' +
            '<option value="14:00 a 16:00">14:00 a 16:00</option>' +
            '<option value="16:00 a 18:00">16:00 a 18:00</option>'
          $('#time').append(algo)
        }
      },
      beforeShowDay: function (date) {
        var day = date.getDay();
        return [(day != 0), ''];
      }
    })

    $('#agendar').click(function (e) {
      var nombre = $('#name').val()
      var tel = $('#tel').val()
      var mail = $('#mail').val()
      var car = $('#car').val()
      var date = $('#txtworkingdays').val()
      var time = $('#time').val()
      var precio = $("#precio").val()

      var docev = $('#docev').val()
      var veintev = $('#veintev').val()
      var treintav = $('#treintav').val()
      var cuarentav = $('#cuarentav').val()

      if (nombre == "") {
        $("#name").focus()
        $("#name").css({ 'border': '1px solid #f73414' });
        return true
      }
      if (tel == "" || tel.length < 8) {
        $("tel").focus()
        $("#tel").css({ 'border': '1px solid #f73414' });
        return true
      }

      if (mail == "" || !validateEmail(mail)) {
        $("#mail").focus()
        $("#mail").css({ 'border': '1px solid #f73414' });
        return true
      }
      if (car == "") {
        $("#car").focus()
        $("#car").css({ 'border': '1px solid #f73414' });
        return true
      }
      if (date.length < 1) {
        $("#txtworkingdays").focus()
        $("#txtworkingdays").css({ 'border': '1px solid #f73414' });
        return true
      }
      if (time == "") {
        $("#time").focus()
        $("#time").css({ 'border': '1px solid #f73414' });
        return true
      }

      var choose = "Eleccion : "

      if ($('#docev').is(':checked')) {
        choose += docev + " , "
      }
      if ($('#veintev').is(':checked')) {
        choose += veintev + " , "
      }
      if ($('#treintav').is(':checked')) {
        choose += treintav + " , "
      }
      if ($('#cuarentav').is(':checked')) {
        choose += cuarentav + " , "
      }

      console.log(choose)
      var date2 = date
      var param = date.replace('/', '|')
      var param = param.replace('/', '|')
      bloqueo()
      $('#agendar').hide()
      $.ajax({
        "async": true,
        "crossDomain": true,
        url: "/api/compra/" + nombre + "/" + mail + "/" + tel + "/" + choose + "/" + param + "/" + time + "/" + car + "/" + precio,
        type: 'GET'
      }).done(function (response) {
        console.log(response)
        if (response.id == 'ok') {
          alert("Gracias por agendar una cita. En tu correo recibirás nuestra confirmación. Sigue navegando en Habolt.")
          var delay = 20;
          var url = '/list'
          setTimeout(function () { window.location = url; }, delay);
        }
      }).always(function () {
        $.unblockUI();
        $('#agendar').show()
      })

    })

  })
</script>
{% endblock extra_scripts %}