{% extends "base.html" %}
{% load static %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-1 bg-overlay-black-70">
  <div class="container">
    <div class="row text-center intro-title">
      <div class="col-md-6 text-md-left d-inline-block">
        <h1 class="text-white">{{ object.title }} </h1>
      </div>
      <div class="col-md-6 text-md-right float-right">
        <ul class="page-breadcrumb">
        </ul>
      </div>
    </div>
  </div>
</section>

<!--=================================
   inner-intro -->

<!--=================================
car-details -->

<section class="car-details page-section-ptb">
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <h3>{{ object.title }} </h3>
        <p>{{ object.version }}</p>
      </div>
      <div class="col-md-3">
        <div class="car-price text-md-right">
          <strong>$ {{ object.price }}</strong>
          <span></span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-8">
        <div class="slider-slick">
          <div class="slider slider-for detail-big-car-gallery">
            {% for img in object.images.all %}
            <img class="img-fluid" src="{{img.image.url}}" alt="">
            {% endfor %}
          </div>
          <div class="slider slider-nav">
            {% for img in object.images.all %}
            <img class="img-fluid" style="width: 160px;" src="{{img.image.url}}" alt="">
            {% endfor %}
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="car-details-sidebar">
          <div class="details-block details-weight">
            <h5>DESCRIPCION</h5>
            <ul>
              <li> <span>Marca</span> <strong class="text-right">{{ object.marca }}</strong></li>
              <li> <span>Modelo</span> <strong class="text-right">{{ object.modelo }}</strong></li>
              <li> <span>Año </span> <strong class="text-right">{{ object.year }}</strong></li>
              <li> <span>Km</span> <strong class="text-right">{{ object.km }}</strong></li>
              <li> <span>Tipo</span> <strong class="text-right">{{ object.tipo }}</strong></li>
              <li> <span>Color</span> <strong class="text-right">{{ object.color }}</strong></li>
              <li> <span>Cilindraje</span> <strong class="text-right">{{ object.cilindro }}</strong></li>
              <li> <span>Transmision</span> <strong class="text-right">{{ object.transmision }}</strong></li>
              <li> <span>Puertas</span> <strong class="text-right">{{ object.puertas }}</strong></li>
              <li> <span>Pasajeros</span> <strong class="text-right">{{ object.pasajeros }}</strong></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-8  col-sm-8">
        <div id="tabs">
          <ul class="tabs">
            <li data-tabs="tab1" class="active"> <span aria-hidden="true" class="icon-diamond"></span> ¿Por qué nos
              encantó? </li>
            <!--li data-tabs="tab2"><span aria-hidden="true" class="icon-list"></span>Features & Options</li>
                <li data-tabs="tab3"> <span aria-hidden="true" class="icon-equalizer"></span> Vehicle Overview</li-->
          </ul>
          <div id="tab1" class="tabcontent">
            <p> {{ object.description }} </p>
            <p> Este auto pasó con éxito nuestra valoración 360º, cuenta con una garantía incluida de 12 meses. Lo hemos
              detallado para ti y está listo para que te lo lleves. Tienes 7 días o 150 km para probarlo y si al final
              decides que no te gustó puedes escoger otro auto de nuestro inventario o devolverlo de inmediato.
            </p>
            <p>Vive la experiencia, un HABOLT es único.</p>
            <p>¿Quieres dejar tu auto a cuenta y llevarte un Habolt? </p>
            <p>
              Una vez que agendes tu cita para ver el auto de tus sueños, también realizaremos la valoración 360º de tu
              auto y verificaremos que tu documentación esté en perfectas condiciones y si todo está en orden, lo
              tomamos como enganche. Si tienes alguna duda, coméntalo con tu asesor de experiencia HABOLT.
            </p>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div class="details-phone details-weight">
          <div class="feature-box-3">
            <div class="icon">
              <i class="fa fa-headphones"></i>
            </div>
            <div class="content" style="text-align: center;">
              <h4>(+52) 558 526 6545 </h4>
              <p>Llàmanos gratis! </p>
            </div>
          </div>
        </div>
        <div class="details-form contact-2">
          <form class="gray-form">
            <h5>Calculadora</h5>
            <div class="form-group">
              <label>PRECIO*</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Interes (%)*</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <label>Periodo (Meses)*</label>
              <input type="text" class="form-control">
            </div>
            <div class="form-group">
              <a class="button red" href="#">Calcular</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="feature-car">
      <h6>Autos relacionados</h6>
      <div class="row">
        <div class="col-md-12">
          <div class="owl-carousel" data-nav-arrow="true" data-nav-dots="true" data-items="3" data-md-items="3"
            data-sm-items="2" data-space="15">
            {% for item in relacionados %}
            <div class="item">
              <div class="car-item gray-bg text-center">
                <div class="car-image">
                  <img class="img-fluid" src="{{ item.image.url }}" alt="">
                  <div class="car-overlay-banner">
                    <ul>
                      <li><a href="{{ item.get_absolute_url }}"><i class="fa fa-link"></i></a></li>
                    </ul>
                  </div>
                </div>
                <div class="car-list">
                  <ul class="list-inline">
                    <li><i class="fa fa-registered"></i> {{ item.year }}</li>
                    <li><i class="fa fa-cog"></i> {{ item.transmision }} </li>
                    <li><i class="fa fa-dashboard"></i> {{ item.km }}</li>
                  </ul>
                </div>
                <div class="car-content">
                  <div class="star">
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star orange-color"></i>
                    <i class="fa fa-star-o orange-color"></i>
                  </div>
                  <a href="{{ item.get_absolute_url }}">{{ item.title }}</a>
                  <div class="separator"></div>
                  <div class="price">
                    {% if item.discount_price %}
                    <span class="old-price">${{ item.price }}</span>
                    <span class="new-price">${{ item.discount_price }} </span>
                    {% else %}
                    <span class="new-price">${{ item.price }}</span>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--=================================
  car-details  -->

{% endblock content %}