{% extends "base.html" %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-1 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Vende tu auto y recibe tu pago de inmediato </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
       inner-intro -->


<!--=================================
 register-form  -->

<section class="register-form page-section-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title">
                    <span>Bienvenido a</span>
                    <h2>REGISTRO DE VENTA</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-12">
                <div class="gray-form">
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Año*</label>
                            <div class="selected-box auto-hight">
                                <select name="year" required>
                                    <option></option>
                                    <option value="2019">2019</option>
                                    <option value="2018">2018</option>
                                    <option value="2017">2017</option>
                                    <option value="2016">2016</option>
                                    <option value="2015">2015</option>
                                    <option value="2014">2014</option>
                                    <option value="2013">2013</option>
                                    <option value="2012">2012</option>
                                    <option value="2012">2012</option>
                                    <option value="2010">2010</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Marca*</label>
                            <div class="selected-box auto-hight">
                                <select name="marca" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group col-md-6">
                            <label>Modelo*</label>
                            <div class="selected-box auto-hight">
                                <select name="model" required>
                                    <option></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Kilometraje*</label>
                            <input id="km" class="form-control" type="text" name="km">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="phone">Version *</label>
                        <div class="selected-box auto-hight">
                            <select name="version" required>
                                <option></option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nombre* </label>
                        <input id="name" class="form-control" type="text" name="name">
                    </div>
                    <div class="form-group">
                        <label>Telefono *</label>
                        <input id="phone" class="form-control" type="text" name="phone">
                    </div>
                    <div class="form-group">
                        <label>Email *</label>
                        <input id="email" class="form-control" type="text" name="email">
                    </div>
                    <div class="form-group">
                        <label>C.P. *</label>
                        <input id="cp" class="form-control" type="text" name="cp">
                    </div>
                    <div class="form-group">
                        <div class="remember-checkbox">
                            <input type="checkbox" name="one" id="one" />
                            <label for="one">ACEPTO LOS TÉRMINOS Y CONDICIONES Y LA POLÍTICA DE PRIVACIDAD DE
                                HABOLT.</label>
                        </div>
                    </div>
                    <a href="#" class="button red"> Agendar </a>
                </div>
            </div>
        </div>
    </div>
</section>

<!--=================================
   register-form  -->

{% endblock content %}

{% block extra_scripts %}



{% endblock extra_scripts %}