{% extends "base.html" %}
{% block head_title %}Vende tu auto y recibe tu pago de inmediato{% endblock %}
{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-7 bg-overlay-black-70">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Vende tu auto y recibe tu pago de inmediato </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
       inner-intro -->


<!--=================================
 register-form  -->

<section class="register-form page-section-ptb">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10">
                <div class="section-title">
                    <span id="bienvenido">Para conocer nuestra propuesta</span>
                    <h2 id="titu">COMPLETA EL FORMULARIO</h2>
                    <div class="separator"></div>
                </div>
            </div>
        </div>
        <div id="gracias" class="row justify-content-center">
            <div class="col-md-8">
                <div class="">
                    <p>
                        <strong>!Felicidades!</strong> Estamos listos para hacer la valoración 360° de tu auto y
                        comprártelo.<br>
                        <br>
                        Un guía de compra se pondrá en contacto contigo para confirmar la cita.<br>
                        <br>
                        Tus datos de contacto registrados son los siguientes:<br>
                        <br>
                        Nombre <strong><span id="v-name"></span></strong><br>
                        Teléfono <strong><span id="v-phone"></span></strong><br>
                        Correo electrónico <strong><span id="v-mail"></span></strong><br>
                        <br>
                        Modelo que seleccionaste <strong><span id="v-model"></span></strong><br>
                        <br>
                        Oferta que seleccionaste <strong><span id="v-price"></span></strong><br>
                        <strong>Válida al <span id="v-cita"></span></strong><br>
                        <br>
                        Día de la cita <strong><span id="v-date"></span></strong><br>
                        Hora de la cita: <strong><span id="v-hour"></span></strong><br>
                        Dirección: <strong>Carretera México Toluca No. 5322, Tlaxla, El Yaqui, Ciudad de México
                            05300</strong> <br>
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d15056.466307175342!2d-99.2784757!3d19.3641043!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xa88cc4d5ee8d040!2sHabolt!5e0!3m2!1ses!2smx!4v1573400975704!5m2!1ses!2smx"
                            width="100%" height="450" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
                        <br><br>

                        <p>Estás a un paso de vender tu auto, <strong>para agilizar el trámite asegúrate de traer los
                                siguientes
                                documentos:</strong></p>
                        <ul>
                            <li>Factura de origen y/o refacturas</li>
                            <li>Identificación oficial.</li>
                            <li>Tarjeta de circulación vigente a nombre del útlimo dueño del auto.</li>
                            <li>Talón de verificación.</li>
                            <li>Comprobantes de pago de tenencia hasta el año actual.</li>
                            <li>Manuales originales.</li>
                            <li>Bitácora de servicios.</li>
                            <li>2 juegos de llaves.</li>
                            <li>Tus datos bancarios para pagarte.</li>
                        </ul>
                        <br><br>
                        <strong>Tienes alguna duda? Contáctanos</strong><br>
                        <strong>Teléfono</strong> +52 (55) 8526 6545<br>
                        <strong>Correo</strong> ayuda@habolt.mx<br>

                    </p>


                </div>
            </div>
        </div>
        <div id="formulario" class="row justify-content-center">
            <form action="" class="col-lg-8 col-md-12">
                <input id="lead" type="hidden" value="">
                <div class="">
                    <div class="gray-form">
                        <div id="cliente">
                            <div class="row">
                                <div class="form-group col-md-6">
                                    <label>Año*</label>
                                    <div>
                                        <select id="algo" name="year"
                                            style="height: 60px; background: #f6f6f6;border-color: #f6f6f6;" required>
                                            <option value=""></option>
                                            <option value="2019">2019</option>
                                            <option value="2018">2018</option>
                                            <option value="2017">2017</option>
                                            <option value="2016">2016</option>
                                            <option value="2015">2015</option>
                                            <option value="2014">2014</option>
                                            <option value="2013">2013</option>
                                            <option value="2012">2012</option>
                                            <option value="2011">2011</option>
                                            <option value="2010">2010</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group col-md-6">
                                    <label>Marca*</label>
                                    <div>
                                        <select id="marca" name="marca"
                                            style="max-width: 100%; height: 60px; background: #f6f6f6;border-color: #f6f6f6;"
                                            required>
                                            <option value=""></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Modelo*</label>
                                <div>
                                    <select id="model" name="model"
                                        style="max-width: 100%; height: 60px; background: #f6f6f6;border-color: #f6f6f6;"
                                        required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="phone">Version *</label>
                                <div>
                                    <select id="version" name="version"
                                        style="max-width: 100%; height: 60px; background: #f6f6f6;border-color: #f6f6f6;"
                                        required>
                                        <option value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Kilometraje*</label>
                                <input id="km" class="form-control" type="number" name="km" required>
                            </div>
                            <div class="form-group">
                                <label>Nombre* </label>
                                <input id="nombre" class="form-control" type="text" name="nombre" required>
                            </div>
                            <div class="form-group">
                                <label>Telefono *</label>
                                <input id="tel" class="form-control" type="number" name="tel" required>
                            </div>
                            <div class="form-group">
                                <label>Email *</label>
                                <input id="mail" class="form-control" type="text" name="mail" required>
                            </div>
                            <div class="form-group">
                                <label>C.P. *</label>
                                <input id="cp" class="form-control" type="number" name="cp" required>
                            </div>
                            <div class="form-group">
                                <div class="remember-checkbox">
                                    <input type="checkbox" name="aviso" id="aviso" value="1" required />
                                    <label for="aviso">ACEPTO LOS TÉRMINOS Y CONDICIONES Y LA POLÍTICA DE PRIVACIDAD DE
                                        HABOLT.</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" id="oferta">
                            <br>
                            <h6><strong>Estas son las opciones que en Habolt tenemos para comprarte tu auto. Selecciona
                                    la(s) que
                                    más te interese(n)</strong></h6><br>
                            <div class="remember-checkbox" id="s_treinta">
                                <input type="checkbox" name="treinta" id="tres" />
                                <label for="tres"><strong>$</strong><strong id="treinta"></strong> <strong>30
                                        dias</strong></label>
                                <p>Si tu auto cumple con los estándares de calidad de nuestra valoración 360°, firmamos
                                    “El contrato de compra-venta” y tu auto lo exhibimos en nuestras instalaciones. Una
                                    vez transcurridos 30 días, te pagamos el precio final acordado después de la
                                    valoración.</p>
                            </div>
                            <div class="remember-checkbox" id="s_compra">
                                <input type="checkbox" name="compra" id="comp" />
                                <label for="comp"><strong>$</strong><strong id="compra"></strong>
                                    <strong>Contado</strong> </label>
                                <p>Si tu auto cumple con los estándares de calidad de nuestra valoración 360°, firmamos
                                    “El contrato de compra-venta” y TE PAGAMOS DE INMEDIATO el precio final acordado
                                    después de la valoración. </p>
                            </div>
                            <div class="remember-checkbox" id="s_consigna">
                                <input type="checkbox" name="consigna" id="cons" />
                                <label for="cons"><strong>$</strong><strong id="consigna"></strong>
                                    <strong>Consignación</strong></label>
                                <p>Si tu auto cumple con los estándares de calidad de nuestra valoración 360°, firmamos
                                    “El acuerdo de consignación” y tu auto se queda en nuestras instalaciones. Una vez
                                    que la venta se haya realizado, te pagamos el precio final acordado después de la
                                    valoración.</p>
                            </div>
                            <div class="remember-checkbox" id="s_prestamo">
                                <input type="checkbox" name="prestamo" id="pres" />
                                <label for="pres"><strong>$</strong><strong id="prestamo"></strong>
                                    <strong>Préstamo</strong></label>
                                <p>Si tu auto cumple con los estándares de calidad de nuestra valoración 360°,
                                    determinamos el préstamo final que se te puede otorgar y si estás de acuerdo
                                    firmamos “El contrato de préstamo”, tu auto se queda en nuestras instalaciones y
                                    puedes disponer de él nuevamente una vez liquidado el préstamo en su totalidad.
                                </p>
                            </div>
                            <h6>Recuerda haber seleccionado las opciones que más te interesen. </h6><br>
                            <h6>Estás a un solo paso de vender tu auto. Agenda una cita gratuita para que realicemos la
                                valoración 360°. </h6><br>
                            <div class="form-group">
                                <label>Fecha *</label>
                                <input type="text" class="form-control" id="txtworkingdays" name="date">
                            </div>
                            <div class="form-group">
                                <label>Hora *</label>
                                <select class="form-control" name="time" id="time"
                                    style="max-width: 100%; height: 60px; background: #f6f6f6;border-color: #f6f6f6;">
                                </select>
                            </div>
                        </div>
                        <span id="enviar" class="button red" style="cursor: pointer;">Agenda tu cita</span>
                        <br>
                        <span id="siguiente" class="button red" style="cursor: pointer;">Conoce aquí tu
                            cotización</span>
                        <br><br><br><br>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<!--=================================
   register-form  -->

{% endblock content %}

{% block extra_scripts %}
<script>
    console.log('hdoias')
    $('#oferta').hide()
    $('#gracias').hide()
    $('#enviar').hide()
    var dateToday = new Date();
    $("#txtworkingdays").datepicker({
        minDate: dateToday,
        onSelect: function (selectedDate) {
            var option = this.id == "txtworkingdays",
                instance = $(this).data("datepicker"),
                date = $.datepicker.parseDate(instance.settings.dateFormat || $.datepicker._defaults.dateFormat, selectedDate, instance.settings);
            $('#time').empty()
            var fecha = new Date(selectedDate)
            if (fecha.getDay() == 6) {
                algo = '<option value="">Seleccione</option>' +
                    '<option value="9:00 a 11:00">9:00 a 11:00</option>' +
                    '<option value="11:00 a 13:00">11:00 a 13:00</option>'
                $('#time').append(algo)
            } else {
                algo = '<option value="">Seleccione</option>' +
                    '<option value="9:00 a 11:00">9:00 a 11:00</option>' +
                    '<option value="11:00 a 13:00">11:00 a 13:00</option>' +
                    '<option value="14:00 a 16:00">14:00 a 16:00</option>' +
                    '<option value="16:00 a 18:00">16:00 a 18:00</option>'
                $('#time').append(algo)
            }
        },
        beforeShowDay: function (date) {
            var day = date.getDay();
            return [(day != 0), ''];
        }
    });

    function bloqueo() {
        $.blockUI({
            message: 'Procesando ...', css: {
                border: 'none',
                padding: '15px',
                backgroundColor: '#000',
                '-webkit-border-radius': '10px',
                '-moz-border-radius': '10px',
                opacity: .5,
                color: '#fff'
            }
        });
    }

    function validateEmail(email) {
        var reg = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return reg.test(String(email).toLowerCase());
    }

    function siguiente() {
        var km = $("#km").val()
        var model = $('#model').val()
        var brand = $('#marca').val()
        var year = $('#algo').val()
        var version = $('#version').val()
        var nombre = $('#nombre').val()
        var tel = $('#tel').val()
        var mail = $('#mail').val()
        var cp = $('#cp').val()
        var aviso = $('#aviso').val()

        if (year == "") {
            $("#algo").focus()
            $("#algo").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (brand == "") {
            $("#marca").focus()
            $("#marca").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (model == "") {
            $("#model").focus()
            $("#model").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (version == "") {
            $("#version").focus()
            $("#version").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (km == "") {
            $("#km").focus()
            $("#km").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (nombre == "") {
            $("#nombre").focus()
            $("#nombre").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (tel == "" || tel.length < 8) {
            $("tel").focus()
            $("#tel").css({ 'border': '1px solid #f73414' });
            return true
        }

        if (mail == "" || !validateEmail(mail)) {
            $("#mail").focus()
            $("#mail").css({ 'border': '1px solid #f73414' });
            return true
        }
        if (cp == "") {
            $("#cp").focus()
            $("#cp").css({ 'border': '1px solid #f73414' });
            return true
        }
        if ($('#aviso').is(':checked')) {

        } else {
            $("#aviso").focus()
            alert("El campo de aviso de privacidad es obligatorio.")
            return true
        }

        calculator()
    }

    function calculator() {
        var val = $("#km").val()
        var model = $('#model').val()
        var brand = $('#marca').val()
        var year = $('#algo').val()
        var version = $('#version').val()

        var param = version.replace('/', '|')
        var param = param.replace('/', '|')
        $("#bienvenido").text("!Listo!")
        $("#titu").text("AQUÍ NUESTRA PROPUESTA")
        bloqueo()
        $.ajax({
            "async": true,
            "crossDomain": true,
            url: "/api/check/" + year + "/" + brand + "/" + model + "/" + param + "/" + val,
            type: 'GET'
        })
            .done(function (response) {
                //var obj = jQuery.parseJSON(response)
                //glob = obj
                console.log(response)
                $('#compra').empty()
                $('#treinta').empty()
                $('#consigna').empty()
                $('#prestamo').empty()
                $('#oferta').show()
                $('#enviar').show()
                $('#siguiente').hide()
                $('#cliente').hide()

                $('#compra').text(response.precio)
                $('#treinta').text(response.treinta)
                $('#consigna').text(response.consigna)
                $('#prestamo').text(response.prestamo)
                $('#comp').val(response.precio)
                $('#tres').val(response.treinta)
                $('#cons').val(response.consigna)
                $('#pres').val(response.prestamo)

                if (response.precio == 0) {
                    $('#s_compra').hide()
                }
                if (response.treinta == 0) {
                    $('#s_treinta').hide()
                }
                if (response.consigna == 0) {
                    $('#s_consigna').hide()
                }
                if (response.prestamo == 0) {
                    $('#s_prestamo').hide()
                }

                window.scrollTo(0, 0)

            })
            .fail(function () {

            })
            .always(function () {
            });

        var nombre = $('#nombre').val()
        var tel = $('#tel').val()
        var mail = $('#mail').val()
        var cp = $('#cp').val()
        var ver = year + "--" + brand + "--" + model + "--" + param + "--" + val


        $.ajax({
            "async": true,
            "crossDomain": true,
            url: "/api/lead/create/" + nombre + "/" + mail + "/" + tel + "/" + cp + "/" + ver,
            type: 'GET'
        }).done(function (response) {
            //var obj = jQuery.parseJSON(response)
            //glob = obj
            console.log(response)
            $('#lead').val(response.id)
            $('#v-model').text(ver)
        }).always(function () {
            $.unblockUI();
        })
    }

    $(document).ready(function () {
        $('#algo').change(function () {
            var year = this.value
            $('#marca').empty()
            $('#marca').append($('<option></option>').val("").html("Seleccione"))
            $('#model').empty()
            $('#model').append($('<option></option>').val(""))
            $('#version').empty()
            $('#version').append($('<option></option>').val(""))
            $('#oferta').hide()
            $('#km').val('')

            $('#enviar').hide()
            $('#siguiente').show()
            bloqueo()
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: "/api/year/" + year,
                type: 'GET'
            })
                .done(function (response) {
                    var obj = response
                    glob = obj
                    console.log(obj)
                    $.each(obj, function (key, value) {
                        offerts = value;
                        $('#marca').append(
                            $('<option></option>').val(value).html(value)
                        );
                    });

                })
                .fail(function () {

                })
                .always(function () {
                    $.unblockUI();
                })
        })

        $('#marca').change(function () {
            var brand = this.value
            var year = $('#algo').val()
            $('#model').empty()
            $('#model').append($('<option></option>').val("").html("Seleccione"))
            $('#version').empty()
            $('#version').append($('<option></option>').val(""))
            $('#oferta').hide()
            $('#km').val('')

            $('#enviar').hide()
            $('#siguiente').show()
            bloqueo()
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: "/api/brand/" + year + "/" + brand,
                type: 'GET'
            })
                .done(function (response) {
                    var obj = response
                    glob = obj
                    console.log(obj)
                    $.each(obj, function (key, value) {
                        offerts = value;
                        $('#model').append(
                            $('<option></option>').val(value).html(value)
                        );
                    });

                })
                .fail(function () {

                })
                .always(function () {
                    $.unblockUI();
                })
        })

        $('#model').change(function () {
            var model = this.value
            var brand = $('#marca').val()
            var year = $('#algo').val()
            $('#oferta').hide()
            $('#version').empty()
            $('#km').val('')
            $('#version').append($('<option></option>').val("").html("Seleccione"))

            $('#enviar').hide()
            $('#siguiente').show()
            bloqueo()
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: "/api/model/" + year + "/" + brand + "/" + model,
                type: 'GET'
            })
                .done(function (response) {
                    var obj = response
                    glob = obj
                    console.log(obj)
                    $.each(obj, function (key, value) {
                        offerts = value;
                        $('#version').append(
                            $('<option></option>').val(value).html(value)
                        );
                        console.log(value)
                    });

                })
                .fail(function () {

                })
                .always(function () {
                    $.unblockUI();
                })
        })

        $('#version').change(function () {
            $('#oferta').hide()
            $('#km').val('')

            $('#enviar').hide()
            $('#siguiente').show()
        })

        $("#aviso").click(function (e) {
            siguiente()
        })

        $("#siguiente").click(function (e) {
            siguiente()
        })

        $("#enviar").click(function (e) {
            var comp = $('#comp').val()
            var tres = $('#tres').val()
            var cons = $('#cons').val()
            var pres = $('#pres').val()
            var date = $('#txtworkingdays').val()
            var time = $('#time').val()

            var choose = ""

            if ($('#comp').is(':checked')) {
                choose += comp + " Contado , "
            }
            if ($('#tres').is(':checked')) {
                choose += tres + " 30 dias , "
            }
            if ($('#cons').is(':checked')) {
                choose += cons + " consigna , "
            }
            if ($('#pres').is(':checked')) {
                choose += pres + " prestamo , "
            }
            if (choose == "") {
                $('#oferta').focus()
                alert("Selecciona una cotizacion.")
                return true
            }

            if (date.length < 1) {
                $("#txtworkingdays").focus()
                $("#txtworkingdays").css({ 'border': '1px solid #f73414' });
                return true
            }
            if (time == "") {
                $("#time").focus()
                $("#time").css({ 'border': '1px solid #f73414' });
                return true
            }
            var date2 = date
            var param = date.replace('/', '|')
            var param = param.replace('/', '|')
            $.ajax({
                "async": true,
                "crossDomain": true,
                url: "/api/lead/update/" + $("#lead").val() + "/" + choose + "/" + param + "/" + time,
                type: 'GET'
            }).done(function (response) {
                //var obj = jQuery.parseJSON(response)
                //glob = obj
                console.log(response)
                var nombre = $('#nombre').val()
                var tel = $('#tel').val()
                var mail = $('#mail').val()

                if (response == '1') {
                    $("#formulario").hide()
                    $("#bienvenido").text("Muchas gracias.")
                    $("#titu").text("Tu cita ha quedado confirmada")


                    $("#v-name").text(nombre)
                    $("#v-phone").text(tel)
                    $("#v-mail").text(mail)
                    $("#v-price").text(choose)
                    $("#v-date").text(date2)
                    $("#v-hour").text(time)
                    var date = new Date()
                    date.setDate(date.getDate() + 7)
                    var options = { year: 'numeric', month: 'long', day: 'numeric' }
                    var nextdate = date.toLocaleDateString("es-ES", options)
                    $("#v-cita").text(nextdate)
                    $("#gracias").show()
                    window.scrollTo(0, 0)
                }
            })

        })
    })
</script>

{% endblock extra_scripts %}