{% extends "base.html" %}

{% block content %}

<!--=================================
 inner-intro -->

<section class="inner-intro bg-1 bg-overlay-black-70" style="height:200px;">
    <div class="container">
        <div class="row text-center intro-title">
            <div class="col-md-6 text-md-left d-inline-block">
                <h1 class="text-white">Vende tu auto y recibe tu pago de inmediato </h1>
            </div>
            <div class="col-md-6 text-md-right float-right">
            </div>
        </div>
    </div>
</section>

<!--=================================
       inner-intro -->

<!--=================================
 custom-block -->

<section class="custom-block-3 white-bg page-section-ptb">
    <div class="container">
        <iframe src="https://quoting.habolt.mx/quoting" width="100%" height="800" scrolling="yes" class="iframe-class"
            frameborder="0"></iframe>
    </div>
</section>

<!--=================================
       custom-block -->

{% endblock content %}